Repository Foodshareclub/foodshare-web: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, sort-imports

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,css,scss,md,yaml,yml}
  lint: any of: *.{ts,tsx,js,jsx}
  sort-imports: any of: *.{ts,tsx,js,jsx}

fix: reduce health check polling from 60s to 5min
  src/components/maintenance/MaintenanceBanner.tsx
Due: format, lint, sort-imports

cleanup: delete 17 unused API routes
  API_MIGRATION_PLAN.md
  api-usage-audit.json
  scripts/audit-api-usage.ts
  src/app/api/admin/proxy-metrics/route.ts
  src/app/api/admin/seed-email-templates/route.ts
  src/app/api/admin/setup-welcome-automation/route.ts
  src/app/api/challenges/leaderboard/me/route.ts
  src/app/api/challenges/leaderboard/route.ts
  src/app/api/challenges/leaderboard/user/[userId]/route.ts
  src/app/api/debug-vault/route.ts
  src/app/api/debug/admin-check/route.ts
  src/app/api/email/worker/health-monitor/route.ts
  src/app/api/email/worker/queue-processor/route.ts
  src/app/api/health/upstash/route.ts
  src/app/api/health/upstash/setup-schedule/route.ts
  src/app/api/map-preferences/route.ts
  src/app/api/moderation/analyze/route.ts
  src/app/api/ping/route.ts
  src/app/api/webhooks/meta/route.ts
Due: format, lint, sort-imports

docs: production-grade backend migration plan
  MIGRATION_PLAN_PRODUCTION.md
Due: format

feat: Day 1 - Unified API client foundation (WIP)
  MIGRATION_DAY1_README.md
  OPTIMIZATION_SUMMARY.md
  src/hooks/queries/useProducts.ts
  src/lib/api/client.ts
  src/lib/api/unified-client.ts
Due: format, lint, sort-imports

feat: Day 1 - Production-grade Supabase migration layer
  src/hooks/queries/useProducts.ts
  src/lib/api/client.ts
  src/lib/api/unified-client.ts
Due: format, lint, sort-imports

feat: minimal Supabase migration layer
  src/lib/api/unified-client.ts
Due: format, lint, sort-imports

feat: route all web image uploads through unified api-v1-images Edge Function
  src/api/imageAPI.ts
  src/api/imageAPI.types.ts
  src/api/storageAPI.ts
  src/app/actions/storage.ts
  src/app/food/new/NewProductForm.tsx
  src/components/forum/CreatePostForm.tsx
  src/components/modals/PublishListingModal.tsx
  src/components/modals/publish-listing/constants.ts
  src/components/modals/publish-listing/hooks/useImageUpload.ts
  src/components/modals/publish-listing/utils.ts
  src/constants/storage.ts
  src/lib/storage/blob.ts
Due: format, lint, sort-imports

cleanup: remove 697 lines of dead upload code and planning artifacts
  src/api/storageAPI.ts
  src/app/actions/storage.ts
  src/constants/storage.ts
  src/lib/storage/blob.ts
  src/lib/storage/index.ts
Due: format, lint, sort-imports

feat: AI-powered listing draft from uploaded photos
  src/app/actions/ai-draft.ts
  src/app/food/new/NewProductForm.tsx
  src/lib/image/resize-for-ai.ts
Due: format, lint, sort-imports

feat: add storage provider field to image API types
  src/api/imageAPI.types.ts
Due: format, lint, sort-imports

fix: remove --strict from pre-push type check to prevent hanging
  lefthook.yml
Due: format

fix: pre-push hook hanging on strict tsc, broken tests, and full build
  lefthook.yml
Due: format

refactor: align web app with refreshed backend API contracts
  src/api/index.ts
  src/app/actions/admin.ts
  src/app/actions/email.ts
  src/app/actions/forum.ts
  src/app/actions/profile.ts
  src/app/food/new/NewProductForm.tsx
  src/components/auth/ProtectedRoute.tsx
  src/components/auth/index.ts
  src/components/forum/ForumNavbarWrapper.tsx
  src/components/guards/RoleGuard.tsx
  src/components/profile/AddressBlock.tsx
  src/constants/validation.ts
  src/lib/api/client.ts
  src/lib/api/types.ts
  src/lib/errors.ts
Due: format, lint, sort-imports

chore: bump version to 3.0.2
  package.json
  src/lib/api/client.ts
Due: format, lint, sort-imports

refactor: consolidate Edge Function endpoints and trim CLAUDE.md
  CLAUDE.md
  src/app/actions/automations/queue.ts
  src/lib/api/chat.ts
  src/lib/api/index.ts
  src/lib/storage/qstash.ts
  src/lib/testing/contract-testing.ts
  src/lib/testing/msw-handlers.ts
  supabase
Due: format, lint, sort-imports

fix: update Next.js 16.1.2 → 16.1.6 to resolve 3 security advisories
  bun.lock
  package.json
Due: format

chore: gitignore yarn.lock (bun generates it as side effect)
  .gitignore
Due: none

chore: migrate lefthook hooks and build scripts from npm/npx to bun/bunx
  lefthook.yml
  package.json
Due: format

chore: migrate CI, scripts, and tooling from npm/npx to bun/bunx
  .github/workflows/ci.yml
  .github/workflows/localization-deploy.yml
  playwright.config.ts
  scripts/deploy/deploy-vercel.sh
  scripts/seed-email-templates.ts
  scripts/setup-welcome-automation.ts
  scripts/sync-translations.ts
  scripts/test-mailersend.ts
  src/types/database.types.ts
Due: format, lint, sort-imports

chore: remove package-lock.json, project uses bun.lock
  .gitignore
  package-lock.json
Due: format

fix: resolve all 13 security vulnerabilities via dep updates and overrides
  bun.lock
  package.json
Due: format

feat: dockerize for self-hosted VPS deployment
  .dockerignore
  .env.production.example
  .gitignore
  Dockerfile
  docker-compose.yml
  package.json
  src/app/forum/[slug]/page.tsx
  src/components/dev/AccessibilityChecker.tsx
  src/components/forum/ForumCommentCard.tsx
  src/lib/api-cache.ts
Due: format, lint, sort-imports

fix: resolve eslint warnings (no-img-element, no-explicit-any, exhaustive-deps)
  src/api/__tests__/campaignAPI.test.ts
  src/api/campaignAPI.ts
  src/app/actions/chat.ts
  src/app/actions/post-engagement.ts
  src/app/food/[id]/PostDetailClient.tsx
  src/app/my-posts/MyPostsClient.tsx
  src/app/user-listings/UserListingsClient.tsx
  src/components/LocationPermissionBanner.tsx
  src/components/admin/AdminBreadcrumb.tsx
  src/components/becomeSharerBlock/BecomeSharerBlock.tsx
  src/components/carousel/ItemsForCarousel.tsx
  src/components/containerForChat/ContainerForChat.tsx
  src/components/dev/LogViewer.tsx
  src/components/header/HeaderServer.tsx
  src/components/header/navbar/Navbar.tsx
  src/components/leaflet/MapViewController.tsx
  src/components/leaflet/MarkerWhatEver.tsx
  src/components/listingPersonCard/AvatarWithRipple.tsx
  src/components/listingPersonCard/ListingPersonCards.tsx
  src/components/map/ProductPopup.tsx
  src/components/minifiedUserInfo/MinifiedUserInfo.tsx
  src/components/modals/AuthenticationUser/AuthenticationUserModal.tsx
  src/components/modals/publish-listing/components/ImageLightbox.tsx
  src/components/modals/publish-listing/components/SharePreview.tsx
  src/components/modals/publish-listing/components/TitleSuggestions.tsx
  src/components/topTips/TopTips.tsx
  src/hooks/useWebGLRenderer.ts
  src/utils/mapHelpers.tsx
  src/utils/productionErrorReporter.ts
  src/utils/realTimeMonitor.ts
  src/utils/vercelErrorReporter.ts
Due: format, lint, sort-imports

fix: pass NEXT_PUBLIC_* vars as build args for Docker build
  Dockerfile
  docker-compose.yml
Due: format

fix: set file ownership for nextjs user in Docker container
  Dockerfile
Due: none

fix: bind port 80 to localhost only (Cloudflare Tunnel handles external traffic)
  docker-compose.yml
Due: format

chore: rename container to foodshare-web
  docker-compose.yml
  package.json
Due: format

feat: add CI/CD pipeline with auto-deploy to VPS
  .github/workflows/ci.yml
Due: format

feat: migrate all 28 test files from Jest to bun:test — 585 pass, 0 fail
  .github/workflows/ci.yml
  bun.lock
  bunfig.toml
  package.json
  src/__tests__/actions/admin.test.ts
  src/__tests__/actions/auth.test.ts
  src/__tests__/actions/chat.test.ts
  src/__tests__/actions/email.test.ts
  src/__tests__/actions/newsletter.test.ts
  src/__tests__/actions/products.test.ts
  src/__tests__/happydom.ts
  src/__tests__/integration/admin-operations.test.tsx
  src/__tests__/integration/auth-flow.test.tsx
  src/__tests__/integration/chat-flow.test.tsx
  src/__tests__/integration/email-campaign.test.tsx
  src/__tests__/lib/auth/api.test.ts
  src/__tests__/lib/auth/client.test.ts
  src/__tests__/lib/auth/session.test.ts
  src/__tests__/lib/data/auth.test.ts
  src/__tests__/lib/data/chat.test.ts
  src/__tests__/lib/data/products.test.ts
  src/__tests__/lib/data/profiles.test.ts
  src/__tests__/lib/security/auditLog.test.ts
  src/__tests__/lib/security/mfa.test.ts
  src/__tests__/lib/security/rateLimit.test.ts
  src/__tests__/setup.ts
  src/lib/observability/tracing.ts
  src/lib/security/sensitive-data.ts
  src/lib/supabase/edge.ts
  src/lib/testing/test-utils.tsx
  src/store/zustand/useAuthStore.test.ts
  tsconfig.json
Due: format, lint, sort-imports

feat: cutover web app to self-hosted Supabase at api.foodshare.club
  next.config.ts
  src/app/layout.tsx
  src/constants/storage.ts
  src/emails/components/base.tsx
  src/lib/email/templates/welcome-series.ts
  src/lib/image.ts
Due: format, lint, sort-imports

migrate all Cloud references to self-hosted Supabase
  .claude/mcp.json
  .github/workflows/ci.yml
  .kiro/settings/mcp.json
  .mcp.json
  CLAUDE.md
  docs/04-deployment/GEOCODING_DEPLOYMENT_GUIDE.md
  docs/email-templates/welcome-confirmation.html
  docs/vercel/AUTH_FLOW_DIAGRAM.md
  docs/vercel/SSL_SAFEBROWSE_INCIDENT_REPORT.md
  docs/vercel/SUPABASE_AUTH_FIX.md
  next.config.ts
  scripts/deploy/edge-functions/deploy-all-modern.sh
  scripts/deploy/edge-functions/deploy-all-no-jwt.sh
  scripts/deploy/edge-functions/deploy-all-optimized.sh
  scripts/deploy/edge-functions/deploy-with-link.sh
  scripts/setup-welcome-automation.mjs
  scripts/telegram-bot/verify-deployment.sh
  src/emails/templates/listing-expired.html
  src/emails/templates/listing-interest.html
  src/emails/templates/magic-link.html
  src/emails/templates/new-message.html
  src/emails/templates/password-reset.html
  src/emails/templates/pickup-reminder.html
  src/emails/templates/review-request.html
  src/emails/templates/weekly-digest.html
  src/emails/templates/welcome-confirmation.html
Due: format, lint, sort-imports

chore: replace cloud Supabase URLs with self-hosted api.foodshare.club
  CLAUDE.md
  docs/supabase/EDGE_FUNCTIONS.md
  docs/supabase/README.md
Due: format

Fix CI: Add cacheLife and cacheTag to test mocks
  src/__tests__/actions/admin.test.ts
  src/__tests__/actions/chat.test.ts
  src/__tests__/actions/email.test.ts
  src/__tests__/actions/newsletter.test.ts
  src/__tests__/integration/chat-flow.test.tsx
  src/__tests__/integration/email-campaign.test.tsx
  src/__tests__/setup.ts
Due: format, lint, sort-imports

Fix CI: Mock server-only module in tests
  src/__tests__/setup.ts
Due: format, lint, sort-imports

Fix TypeScript: Use featureName prop instead of feature
  src/app/admin/analytics/components/AnalyticsDashboard.tsx
  src/components/forum/RichTextEditor.tsx
Due: format, lint, sort-imports

Fix build: Ensure generateStaticParams returns at least one result
  src/app/forum/[slug]/page.tsx
Due: format, lint, sort-imports
