Repository Foodshareclub/foodshare-web: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

format:
  tags: format quality autofix
  run: npx prettier --write --cache {staged_files}
  stage_fixed: true
  priority: 1

lint:
  tags: lint quality autofix
  run: npx eslint {staged_files} --fix --max-warnings=0 --no-warn-ignored --cache --cache-location .eslintcache
  stage_fixed: true
  priority: 1

nextjs-security:
  tags: security critical
  run: ./scripts/lefthook/target/release/lefthook-rs nextjs-security {staged_files}
  priority: 2

complexity-check:
  tags: quality optional
  run: ./scripts/lefthook/target/release/lefthook-rs complexity {staged_files}
  priority: 4
  skip:
  - run: test -z "$ENABLE_COMPLEXITY" && test -z "$ENABLE_ALL"

sort-imports:
  tags: quality autofix
  run: npx eslint {staged_files} --fix --rule 'import/order:error' --no-warn-ignored 2>/dev/null || true
  stage_fixed: true
  priority: 1

import-check:
  tags: quality optional
  run: ./scripts/lefthook/target/release/lefthook-rs import-check {staged_files}
  priority: 4
  skip:
  - run: test -z "$ENABLE_IMPORT_CHECK" && test -z "$ENABLE_ALL"

no-console:
  tags: quality optional
  run: ./scripts/lefthook/target/release/lefthook-rs no-console {staged_files}
  priority: 5
  skip:
  - run: test -z "$ENABLE_NO_CONSOLE" && test -z "$ENABLE_ALL"

accessibility:
  tags: a11y optional
  run: ./scripts/lefthook/target/release/lefthook-rs accessibility {staged_files}
  priority: 5
  skip:
  - run: test -z "$ENABLE_A11Y" && test -z "$ENABLE_ALL"

chore: add vercel config for Node 20 functions
  vercel.json
Due: format, nextjs-security

fix(vercel): simplify config, remove functions block
  .node-version
  package.json
  vercel.json
Due: format, nextjs-security

feat(health): add Upstash keep-alive cron job
  src/app/api/health/upstash/route.ts
  vercel.json
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix: Update Upstash health check cron to daily schedule
  vercel.json
Due: format, nextjs-security

Fix admin menu not appearing after page reload
  src/hooks/useAuth.ts
  src/store/zustand/useAuthStore.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

Add debug logging for admin role check
  src/hooks/useAuth.ts
  src/lib/data/auth.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

Add more debug logging for admin menu issue
  docs/00-INDEX.md
  docs/outreach/TESTER_RECRUITMENT_NEWSLETTER.md
  src/app/api/health/upstash/route.ts
  src/app/api/health/upstash/setup-schedule/route.ts
  src/components/header/navbar/NavbarWrapper.tsx
  src/components/header/navbar/organisms/DesktopMenu.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

Add debug API endpoint to verify admin status
  src/app/api/debug/admin-check/route.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

Add render-time logging to trace Admin menu item
  src/components/header/navbar/organisms/DesktopMenu.tsx
  src/components/header/navbar/organisms/MobileMenu.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

Remove debug logging and simplify Admin menu rendering
  src/components/header/navbar/NavbarWrapper.tsx
  src/components/header/navbar/organisms/DesktopMenu.tsx
  src/components/header/navbar/organisms/MobileMenu.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(navbar): use direct button for admin menu instead of MenuItem
  src/components/header/navbar/organisms/DesktopMenu.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

debug(navbar): add logging to diagnose admin menu visibility
  src/app/actions/automations/presets.ts
  src/app/api/admin/seed-email-templates/route.ts
  src/components/header/navbar/NavbarWrapper.tsx
  src/components/header/navbar/organisms/DesktopMenu.tsx
  src/lib/email/templates/welcome-series.ts
  test-results/accessibility-Accessibilit-907a0-r-form-labels-on-login-page-chromium-retry1/error-context.md
  test-results/accessibility-Accessibilit-907a0-r-form-labels-on-login-page-chromium-retry1/test-failed-1.png
  test-results/accessibility-Accessibilit-907a0-r-form-labels-on-login-page-chromium-retry1/trace.zip
  test-results/accessibility-Accessibilit-907a0-r-form-labels-on-login-page-chromium-retry1/video.webm
  test-results/accessibility-Accessibilit-907a0-r-form-labels-on-login-page-chromium/error-context.md
  test-results/accessibility-Accessibilit-907a0-r-form-labels-on-login-page-chromium/test-failed-1.png
  test-results/auth-Authentication---Logi-2135a--with-all-required-elements-chromium-retry1/error-context.md
  test-results/auth-Authentication---Logi-2135a--with-all-required-elements-chromium-retry1/test-failed-1.png
  test-results/auth-Authentication---Logi-2135a--with-all-required-elements-chromium-retry1/trace.zip
  test-results/auth-Authentication---Logi-2135a--with-all-required-elements-chromium-retry1/video.webm
  test-results/auth-Authentication---Logi-2135a--with-all-required-elements-chromium/error-context.md
  test-results/auth-Authentication---Logi-2135a--with-all-required-elements-chromium/test-failed-1.png
  test-results/auth-Authentication---Login-should-have-social-login-buttons-chromium-retry1/error-context.md
  test-results/auth-Authentication---Login-should-have-social-login-buttons-chromium-retry1/test-failed-1.png
  test-results/auth-Authentication---Login-should-have-social-login-buttons-chromium-retry1/trace.zip
  test-results/auth-Authentication---Login-should-have-social-login-buttons-chromium-retry1/video.webm
  test-results/auth-Authentication---Login-should-have-social-login-buttons-chromium/error-context.md
  test-results/auth-Authentication---Login-should-have-social-login-buttons-chromium/test-failed-1.png
  test-results/auth-Authentication---Prot-74108-essing-profile-without-auth-chromium-retry1/trace.zip
  test-results/auth-Authentication---Prot-74108-essing-profile-without-auth-chromium-retry1/video.webm
  test-results/auth-Authentication---Prot-74108-essing-profile-without-auth-chromium/error-context.md
  test-results/auth-Authentication---Prot-74108-essing-profile-without-auth-chromium/test-failed-1.png
  test-results/auth-Authentication---Prot-dc595-ssing-settings-without-auth-chromium-retry1/trace.zip
  test-results/auth-Authentication---Prot-dc595-ssing-settings-without-auth-chromium-retry1/video.webm
  test-results/auth-Authentication---Prot-dc595-ssing-settings-without-auth-chromium/error-context.md
  test-results/auth-Authentication---Prot-dc595-ssing-settings-without-auth-chromium/test-failed-1.png
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(admin): resolve admin panel access blocked by RLS
  CLAUDE.md
  src/app/admin/layout.tsx
  src/components/header/navbar/NavbarWrapper.tsx
  src/components/header/navbar/organisms/DesktopMenu.tsx
  src/lib/data/admin-check.ts
  src/lib/data/auth.ts
  src/proxy.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(navbar): move Admin Dashboard above My listings in dropdown
  src/components/header/navbar/organisms/DesktopMenu.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(proxy): inline admin check to avoid Edge runtime import issues
  src/proxy.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

docs: add Edge runtime limitation note for admin check
  CLAUDE.md
Due: format

fix(proxy): add proper TypeScript types for admin role query
  src/proxy.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(vercel): configure bun for install and build commands
  vercel.json
Due: format, nextjs-security

fix(build): make invalidateAutomationCache async
  src/app/actions/automations/helpers.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(csrf): add foodshare.club and exempt health endpoints
  src/proxy.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(health): allow POST with cron auth fallback
  src/app/api/health/upstash/route.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat(volunteers): Add volunteer postcards page and enhanced form
  src/app/actions/products.ts
  src/app/food/new/NewProductForm.tsx
  src/app/volunteers/layout.tsx
  src/app/volunteers/page.tsx
  src/components/volunteers/VolunteerGrid.tsx
  src/components/volunteers/VolunteerHero.tsx
  src/components/volunteers/VolunteerPostcard.tsx
  src/components/volunteers/index.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat(ui): replace category emojis with Lucide icons
  src/components/header/navbar/atoms/CategoryItem.tsx
  src/components/header/navbar/types.ts
  src/components/ui-library/CategoryNav.tsx
  src/constants/categories.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat(routing): Add agnostic /new route with type param support
  src/app/food/new/NewProductForm.tsx
  src/app/food/new/page.tsx
  src/app/new/page.tsx
  src/components/volunteers/VolunteerHero.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(routing): Make /new render form directly instead of redirecting
  src/app/new/page.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat(ui): use LampDesk icon for Borrow category
  src/constants/categories.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat(automations): Add welcome email automation setup
  scripts/setup-welcome-automation.mjs
  scripts/setup-welcome-automation.ts
  src/app/actions/automations/setup-welcome-flow.ts
  src/app/api/admin/setup-welcome-automation/route.ts
  src/lib/email/templates/index.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(volunteer): Replace 'Coming soon' with actual volunteer form navigation
  src/components/becomeSharerBlock/BecomeSharerBlock.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(dropdown): Correct category values to match categoryConfig keys
  src/components/becomeSharerBlock/BecomeSharerBlock.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

refactor(dropdown): Use /new?type= route for all listing options
  src/components/becomeSharerBlock/BecomeSharerBlock.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(listings): Improve type handling and redirects
  src/app/food/new/NewProductForm.tsx
  src/components/becomeSharerBlock/BecomeSharerBlock.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(ui): swap LampDesk to Things category, restore HandHelping for Borrow
  src/constants/categories.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(form): Force re-mount when listing type changes
  src/app/new/page.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

refactor(ui): Replace emojis with Lucide icons in listing form
  src/app/food/new/NewProductForm.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(ui): Reduce top padding in listing form
  src/app/food/new/NewProductForm.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(ui): Remove top padding from form container
  src/app/food/new/NewProductForm.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(auth): Rename proxy.ts to middleware.ts for Next.js
  src/middleware.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

revert: Restore proxy.ts naming (Next.js 16 standard)
  src/proxy.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(auth): Use full page navigation for Add Listing
  src/components/becomeSharerBlock/BecomeSharerBlock.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

chore: Remove unused useRouter import
  src/components/becomeSharerBlock/BecomeSharerBlock.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,css,scss,md,yaml,yml}
  lint: any of: *.{ts,tsx,js,jsx}
  nextjs-security: any of: *.{ts,tsx,js,jsx,json}
  complexity-check: any of: *.{ts,tsx,js,jsx}
  sort-imports: any of: *.{ts,tsx,js,jsx}
  import-check: any of: *.{ts,tsx,js,jsx}
  no-console: any of: *.{ts,tsx,js,jsx}
  accessibility: any of: *.{tsx,jsx}
