Repository Foodshareclub/foodshare-web: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,css,scss,md,yaml,yml}
  lint: any of: *.{ts,tsx,js,jsx}
  nextjs-security: any of: *.{ts,tsx,js,jsx,json}
  complexity-check: any of: *.{ts,tsx,js,jsx}
  sort-imports: any of: *.{ts,tsx,js,jsx}
  import-check: any of: *.{ts,tsx,js,jsx}
  no-console: any of: *.{ts,tsx,js,jsx}
  accessibility: any of: *.{tsx,jsx}

chore: update admin layout
  .eslintcache
  src/app/admin/layout.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix: use service role client for vault secret access
  src/lib/email/vault.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat: add detailed logging to vault and email actions
  src/app/actions/email.ts
  src/lib/email/vault.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix: improve vault logging for debugging production email issues
  .eslintcache
  messages/en.json
  src/app/actions/email.ts
  src/hooks/useNotificationSound.ts
  src/lib/email/vault.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

chore: add vault debug endpoint
  .eslintcache
  docs/03-features/email/README.md
  package-lock.json
  package.json
  src/app/api/debug-vault/route.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

chore: add direct RPC debug to vault endpoint
  .eslintcache
  src/app/api/debug-vault/route.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix: always use vault in production, env vars only in dev
  .eslintcache
  src/lib/email/vault.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat(admin): add email CRM, newsletter, and campaign management
  .eslintcache
  .kiro/steering/shadcn.md
  docs/03-features/admin/README.md
  docs/03-features/email/README.md
  docs/04-deployment/ENVIRONMENT_SETUP.md
  docs/prompts/prompts.md
  messages/en.json
  src/app/actions/newsletter.ts
  src/app/admin/crm/page.tsx
  src/app/admin/email/audience/page.tsx
  src/app/admin/email/automation/page.tsx
  src/app/admin/email/campaigns/page.tsx
  src/app/admin/email/page.tsx
  src/app/admin/layout.tsx
  src/app/admin/page.tsx
  src/components/admin/AdminSidebar.tsx
  src/components/admin/EmailCRMClient.tsx
  src/components/admin/EmailStatsDashboard.tsx
  src/components/admin/ListingEditModal.tsx
  src/components/admin/crm/AudienceClient.tsx
  src/components/admin/crm/AutomationClient.tsx
  src/components/admin/crm/CRMDashboard.tsx
  src/components/admin/crm/CRMDashboardClient.tsx
  src/components/admin/crm/CampaignsClient.tsx
  src/components/newsletter/NewsletterSubscribe.tsx
  src/components/ui/progress.tsx
  src/lib/data/admin-email.ts
  src/lib/data/cache-keys.ts
  src/lib/data/index.ts
  src/lib/data/newsletter.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

chore: remove eslintcache and compress-images function
  .eslintcache
  supabase/functions/compress-images/index.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat: add config.toml for edge functions and secure moderation API
  docs/05-reference/API_REFERENCE.md
  src/app/api/moderation/analyze/route.ts
  src/lib/data/admin-insights.ts
  supabase/functions/check-upstash-services/config.toml
  supabase/functions/cors-proxy-images/config.toml
  supabase/functions/domain-monitor/config.toml
  supabase/functions/get-my-chat-id/config.toml
  supabase/functions/get-translations/config.toml
  supabase/functions/hf-inference/config.toml
  supabase/functions/localization/config.toml
  supabase/functions/monitor-email-health/config.toml
  supabase/functions/notify-new-post/config.toml
  supabase/functions/notify-new-user/config.toml
  supabase/functions/process-email-queue/config.toml
  supabase/functions/resend/config.toml
  supabase/functions/resize-tinify-upload-image/config.toml
  supabase/functions/search-functions/config.toml
  supabase/functions/smart-email-route/config.toml
  supabase/functions/telegram-bot-foodshare/config.toml
  supabase/functions/update-coordinates/config.toml
  supabase/functions/update-post-coordinates/config.toml
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

refactor: modularize image compression and update email providers
  .eslintcache
  docs/03-features/admin/AI_MODERATION.md
  docs/03-features/email/README.md
  docs/04-deployment/ENVIRONMENT_SETUP.md
  docs/05-reference/API_REFERENCE.md
  src/lib/data/admin-insights.ts
  src/lib/email/providers/aws-ses.ts
  src/lib/email/providers/brevo.ts
  src/lib/email/providers/resend.ts
  src/lib/email/unified-service.ts
  supabase/functions/resize-tinify-upload-image/index.bundled.ts
  supabase/functions/resize-tinify-upload-image/index.modular.ts
  supabase/functions/resize-tinify-upload-image/lib/circuit-breaker.ts
  supabase/functions/resize-tinify-upload-image/lib/config.ts
  supabase/functions/resize-tinify-upload-image/lib/logger.ts
  supabase/functions/resize-tinify-upload-image/lib/types.ts
  supabase/functions/resize-tinify-upload-image/lib/utils.ts
  supabase/functions/resize-tinify-upload-image/services/cloudinary.ts
  supabase/functions/resize-tinify-upload-image/services/compressor.ts
  supabase/functions/resize-tinify-upload-image/services/tinypng.ts
  supabase/functions/smart-email-route/index.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

chore: remove eslintcache
  .eslintcache
Due: none

docs: update auth documentation and improve email provider types
  .eslintcache
  docs/03-features/authentication/README.md
  docs/vercel/AUTH_FLOW_DIAGRAM.md
  docs/vercel/SUPABASE_AUTH_FIX.md
  messages/en.json
  src/hooks/useAuth.ts
  src/lib/email/providers/base.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

refactor: improve useAuth hook and update email service types
  .eslintcache
  docs/04-deployment/ENVIRONMENT_SETUP.md
  src/app/actions/email.ts
  src/hooks/useAuth.ts
  src/lib/email/unified-service.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

chore: remove eslintcache from tracking
  .eslintcache
Due: none

feat(admin): add email CRM dashboard with campaigns, segments, and automations
  .eslintcache
  docs/03-features/admin/README.md
  docs/05-reference/API_REFERENCE.md
  docs/prompts/prompts.md
  src/app/actions/automations.ts
  src/app/actions/campaigns.ts
  src/app/actions/segments.ts
  src/app/admin/email/page.tsx
  src/components/admin/email/EmailCRMDashboard.tsx
  src/components/modals/PublishListingModal.tsx
  src/components/ui/card.tsx
  src/lib/data/admin-email.ts
  supabase/functions/resize-tinify-upload-image/index.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

chore: apply autofix formatting
  .eslintcache
  src/components/modals/PublishListingModal.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

refactor: update docs, middleware, and component improvements
  .eslintcache
  context/CACHING.md
  docs/03-features/admin/README.md
  docs/03-features/posts/README.md
  docs/03-features/storage/STORAGE_QUICK_REFERENCE.md
  src/app/actions/campaigns.ts
  src/app/actions/products.ts
  src/components/admin/email/EmailCRMDashboard.tsx
  src/components/modals/PublishListingModal.tsx
  src/proxy.ts
  supabase/functions/resize-tinify-upload-image/index.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

chore: update eslint cache
  .eslintcache
Due: none

Update email CRM, admin insights, and publish listing modal improvements
  .eslintcache
  docs/03-features/email/README.md
  docs/05-reference/API_REFERENCE.md
  src/app/actions/admin-insights.ts
  src/components/admin/EmailCRMClient.tsx
  src/components/admin/GrokAssistant.tsx
  src/components/admin/email/EmailCRMDashboard.tsx
  src/components/modals/PublishListingModal.tsx
  src/components/modals/publish-listing/constants.ts
  src/components/modals/publish-listing/utils.ts
  src/components/theme/ThemeProvider.tsx
  src/lib/data/admin-email.ts
  src/lib/data/admin-insights.ts
  src/lib/email/types.ts
  src/lib/email/unified-service.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix: add CSP frame-src for Vercel Live and tune rate limiter
  next.config.ts
  public/sounds/new-notification-3-398649.mp3
  public/sounds/notification-bell-sound-1-376885.mp3
  public/sounds/notification.mp3
  src/lib/data/admin-insights.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat: integrate MotherDuck analytics and fix lint errors
  package-lock.json
  package.json
  public/sounds/notification.mp3
  public/sounds/notification_1.mp3
  scripts/setup-motherduck-events.ts
  scripts/test-motherduck-concept.ts
  src/app/actions/analytics.ts
  src/app/actions/auth.ts
  src/app/actions/chat.ts
  src/app/actions/invitation.ts
  src/app/actions/products.ts
  src/app/admin/AdminUnifiedClient.tsx
  src/app/admin/analytics/page.tsx
  src/app/admin/page.tsx
  src/app/auth/callback/route.ts
  src/app/food/page.tsx
  src/app/page.tsx
  src/components/admin/analytics/AnalyticsDashboard.tsx
  src/components/forum/ForumCommentCard.tsx
  src/components/forum/ForumPageClient.tsx
  src/components/guards/AuthGuard.tsx
  src/components/leaflet/MarkerWhatEver.tsx
  src/components/modals/AuthenticationUser/AuthenticationUserModal.tsx
  src/components/modals/AuthenticationUser/InvitationStep.tsx
  src/components/modals/AuthenticationUser/PasswordStrength.tsx
  src/components/modals/FeedbackModal.tsx
  src/components/modals/NavDrawer.tsx
  src/components/modals/VolunteerInfoModal.tsx
  src/components/ui/email-input.tsx
  src/lib/analytics/motherduck.ts
  src/lib/email/vault.ts
  supabase/functions/sync-analytics/config.toml
  supabase/functions/sync-analytics/deno.json
  supabase/functions/sync-analytics/index.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix: resolve Vercel build errors and TS issues
  next.config.ts
  src/lib/analytics/motherduck.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

chore: ignore .eslintcache
  .gitignore
Due: none

fix: apply manual patch for duckdb napi_versions to fix Turbopack build
  package-lock.json
  package.json
  patches/duckdb+1.4.3.patch
Due: format, nextjs-security

fix: patch duckdb to include napi_versions for Turbopack compatibility
  package-lock.json
  patches/duckdb+1.4.3.patch
Due: format, nextjs-security

fix: hoist duckdb dep and patch napi_versions for Turbopack
  package-lock.json
  package.json
  patches/duckdb+1.4.3.patch
Due: format, nextjs-security

fix: use explicit version in npm override for Vercel compatibility
  package.json
Due: format, nextjs-security

chore: update docs and refactor admin insights
  README.md
  context/REFACTORING_TASKS.md
  docs/01-getting-started/INSTALLATION.md
  docs/03-features/authentication/README.md
  docs/05-reference/API_REFERENCE.md
  docs/vercel/AUTH_FLOW_DIAGRAM.md
  docs/vercel/SUPABASE_AUTH_FIX.md
  package-lock.json
  package.json
  src/app/actions/admin-insights.ts
  src/components/admin/GrokAssistant.tsx
  src/components/modals/PublishListingModal.tsx
  src/components/modals/publish-listing/utils.ts
  src/lib/data/admin-insights.ts
  src/proxy.ts
  vercel.json
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix: simplify vercel install command
  vercel.json
Due: format, nextjs-security

fix: regenerate package-lock.json to fix invalid versions
  package-lock.json
Due: format, nextjs-security

fix: add napi_versions to duckdb patch for Turbopack compatibility
  patches/duckdb+1.4.3.patch
Due: none

fix: use ES5-compatible regex pattern for multi-statement detection
  src/lib/data/admin-insights.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

chore: update authentication, email management, and analytics
  docs/03-features/authentication/README.md
  src/api/admin/emailManagement.ts
  src/app/actions/analytics.ts
  src/components/modals/PublishListingModal.tsx
  src/hooks/useAuth.ts
  supabase/functions/_shared/aws-ses.ts
  supabase/functions/monitor-email-health/index.ts
  supabase/functions/resize-tinify-upload-image/index.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

refactor: consolidate email functions and add compression utilities
  supabase/functions/_shared/compression/cloudinary-provider.ts
  supabase/functions/_shared/compression/compression-service.ts
  supabase/functions/_shared/compression/index.ts
  supabase/functions/_shared/compression/tinypng-provider.ts
  supabase/functions/_shared/compression/types.ts
  supabase/functions/_shared/email/README.md
  supabase/functions/_shared/email/aws-ses-provider.ts
  supabase/functions/_shared/email/brevo-provider.ts
  supabase/functions/_shared/email/email-service.ts
  supabase/functions/_shared/email/index.ts
  supabase/functions/_shared/email/resend-provider.ts
  supabase/functions/_shared/email/templates.ts
  supabase/functions/_shared/email/types.ts
  supabase/functions/email/config.toml
  supabase/functions/email/index.ts
  supabase/functions/monitor-email-health/config.toml
  supabase/functions/monitor-email-health/deno.json
  supabase/functions/monitor-email-health/index.ts
  supabase/functions/process-email-queue/config.toml
  supabase/functions/process-email-queue/deno.json
  supabase/functions/process-email-queue/index.ts
  supabase/functions/resend/config.toml
  supabase/functions/resend/index.ts
  supabase/functions/resize-tinify-upload-image/index.ts
  supabase/functions/smart-email-route/config.toml
  supabase/functions/smart-email-route/deno.json
  supabase/functions/smart-email-route/index.ts
  supabase/functions/sync-analytics/deno.json
  supabase/functions/sync-analytics/index.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat: add rich text editor, push notifications, and report notifications
  .kiro/steering/shadcn.md
  src/components/admin/email/EmailCRMDashboard.tsx
  src/components/ui/rich-text-editor.tsx
  supabase/functions/notify-new-report/config.toml
  supabase/functions/notify-new-report/index.ts
  supabase/functions/send-push-notification/config.toml
  supabase/functions/send-push-notification/index.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat: add automation builder and process automation queue
  docs/03-features/admin/README.md
  docs/03-features/email/README.md
  docs/05-reference/API_REFERENCE.md
  src/app/actions/automations.ts
  src/app/providers.tsx
  src/components/admin/AdminReportsClient.tsx
  src/components/admin/email/AutomationBuilder.tsx
  src/components/admin/email/EmailCRMDashboard.tsx
  src/hooks/index.ts
  src/hooks/useActionToast.tsx
  src/lib/data/admin-reports.ts
  src/lib/data/automations.ts
  src/types/automations.types.ts
  supabase/functions/process-automation-queue/index.ts
  supabase/functions/send-push-notification/index.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat: add comprehensive debug logging for publishing
  src/app/actions/products.ts
  src/components/modals/PublishListingModal.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat: add extended debug logging for publishing diagnosis
  src/api/storageAPI.ts
  src/components/modals/publish-listing/hooks/useImageUpload.ts
  src/components/modals/publish-listing/hooks/useListingForm.ts
  src/lib/errors.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console
