Repository Foodshareclub/foodshare-web: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, sort-imports

format:
  tags: format quality autofix
  run: bunx prettier --write --cache --cache-strategy metadata {staged_files}
  stage_fixed: true
  priority: 1
  env:
    FORCE_COLOR: '0'
    NODE_OPTIONS: ''

lint:
  tags: lint quality autofix
  run: bunx eslint {staged_files} --fix --max-warnings=0 --no-warn-ignored --cache --cache-location .eslintcache
  stage_fixed: true
  priority: 1
  env:
    FORCE_COLOR: '0'
    NODE_OPTIONS: ''

sort-imports:
  tags: quality autofix
  run: bunx eslint {staged_files} --fix --rule 'import/order:error' --no-warn-ignored 2>/dev/null || true
  stage_fixed: true
  priority: 1
  env:
    NODE_OPTIONS: ''

Fix build: Make not-found page dynamic
  src/app/not-found.tsx
Due: format, lint, sort-imports

Fix build: Remove Suspense from not-found page
  src/app/not-found.tsx
Due: format, lint, sort-imports

Disable cacheComponents to fix build
  next.config.ts
Due: format, lint, sort-imports

Add Android App Links assetlinks.json
  public/.well-known/assetlinks.json
Due: format

Switch CI/CD to self-hosted runners
  .github/workflows/ci.yml
Due: format

Revert to GitHub-hosted runners
  .github/workflows/ci.yml
Due: format

Switch all jobs to self-hosted runner
  .github/workflows/ci.yml
Due: format

Re-enable cacheComponents
  next.config.ts
Due: format, lint, sort-imports

Remove DuckDB to fix ARM64 CI/CD
  package.json
Due: format

Update lockfile after removing DuckDB
  bun.lock
Due: none

Remove DuckDB patch
  patches/duckdb+1.4.3.patch
Due: none

Disable MotherDuck for ARM64 compatibility
  src/lib/analytics/motherduck.ts
Due: format, lint, sort-imports

Fix lint error
  src/lib/analytics/motherduck.ts
Due: format, lint, sort-imports

Add empty patches directory for Docker
  patches/.gitkeep
Due: none

Make profile page dynamic to fix build
  src/app/profile/[id]/page.tsx
Due: format, lint, sort-imports

Use dynamicParams for profile page
  src/app/profile/[id]/page.tsx
Due: format, lint, sort-imports

Remove generateStaticParams from profile page
  src/app/profile/[id]/page.tsx
Due: format, lint, sort-imports

Fix build errors for deployment
  src/app/food/[id]/page.tsx
  src/lib/supabase/client.ts
  src/lib/supabase/server.ts
Due: format, lint, sort-imports

Remove generateStaticParams from food page
  src/app/food/[id]/page.tsx
Due: format, lint, sort-imports

Remove all 'use cache' directives
  src/lib/data/admin-listings.ts
  src/lib/data/admin-reports.ts
  src/lib/data/admin-users.ts
  src/lib/data/auth.ts
  src/lib/data/cache-keys.ts
  src/lib/data/challenge-leaderboard.ts
  src/lib/data/challenges.ts
  src/lib/data/chat.ts
  src/lib/data/email/health.ts
  src/lib/data/email/queue.ts
  src/lib/data/forum.ts
  src/lib/data/maps.ts
  src/lib/data/nearby-posts.ts
  src/lib/data/post-activity.ts
  src/lib/data/products.ts
  src/lib/data/profiles.ts
  src/lib/data/reports.ts
Due: format, lint, sort-imports

Increase deploy timeout and add memory limit
  .github/workflows/ci.yml
Due: format

Increase Node memory for type-check
  .github/workflows/ci.yml
Due: format

Make codecov optional and increase runner memory
  .github/workflows/ci.yml
Due: format

Skip TypeScript during build (already checked in CI)
  next.config.ts
Due: format, lint, sort-imports

fix: enable cacheComponents for cacheLife profiles
  next.config.ts
Due: format, lint, sort-imports

fix: disable cacheComponents and cacheLife (React compatibility)
  next.config.ts
Due: format, lint, sort-imports

fix: disable reactCompiler to fix build error
  next.config.ts
Due: format, lint, sort-imports

perf: parallelize CI jobs and cache dependencies
  .github/workflows/ci.yml
Due: format

perf: use matrix strategy for true parallel execution
  .github/workflows/ci.yml
Due: format

fix: add robustness - timeouts, cache validation, retry logic
  .github/workflows/ci.yml
Due: format

feat: production-ready CI/CD with rollback and smoke tests
  .github/workflows/ci.yml
Due: format

Update CI workflow
  .github/workflows/ci.yml
Due: format

Fix cache miss handling
  .github/workflows/ci.yml
Due: format

Fix 29 test failures: CACHE_TAGS mock, env vars, and @supabase/ssr mock
  src/__tests__/setup.ts
Due: format, lint, sort-imports

Fix test preload: use require() for jest-dom to prevent expect global crash
  src/__tests__/setup.ts
Due: format, lint, sort-imports

Fix CircuitBreaker tests: replace Jest timer mocking with real delays
  src/lib/testing/__tests__/circuit-breaker.test.ts
Due: format, lint, sort-imports

Increase CI checks timeout to 15 minutes for self-hosted runner
  .github/workflows/ci.yml
Due: format

Fix lint: replace require() with dynamic import() for jest-dom
  src/__tests__/setup.ts
Due: format, lint, sort-imports

Fix build: remove --bun flag from next build script
  package.json
Due: format

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,css,scss,md,yaml,yml}
  lint: any of: *.{ts,tsx,js,jsx}
  sort-imports: any of: *.{ts,tsx,js,jsx}
