Repository Foodshareclub/foodshare-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, complexity-check, import-check, accessibility-check

lint:
  tags: lint quality
  run: npx eslint {staged_files} --fix --max-warnings=0 --no-warn-ignored --cache --cache-location .eslintcache
  stage_fixed: true
  priority: 2
  skip:
  - name: Skip if only test files changed
    run: git diff --cached --name-only | grep -qvE '\.test\.(ts|tsx|js|jsx)$'

format:
  tags: format quality
  run: npx prettier --write --cache {staged_files}
  stage_fixed: true
  priority: 2

complexity-check:
  tags: quality optional
  run: bash scripts/lefthook/complexity-check.sh {staged_files}
  priority: 3
  skip:
  - name: Skip unless enabled
    run: test -z "$ENABLE_COMPLEXITY" && test -z "$ENABLE_ALL"

import-check:
  tags: quality optional
  run: bash scripts/lefthook/import-check.sh {staged_files}
  priority: 3
  skip:
  - name: Skip unless enabled
    run: test -z "$ENABLE_IMPORT_CHECK" && test -z "$ENABLE_ALL"

accessibility-check:
  tags: accessibility optional
  run: bash scripts/lefthook/accessibility-check.sh {staged_files}
  priority: 4
  skip:
  - name: Skip unless enabled
    run: test -z "$ENABLE_A11Y" && test -z "$ENABLE_ALL"

chore(deps): upgrade next and react to fix CVE-2025-55182
  package-lock.json
  package.json
Due: format

fix(deps): add web-vitals dependency
  package-lock.json
  package.json
Due: format

chore: add vercel.json to enforce Next.js framework
  vercel.json
Due: format

fix: update web-vitals to v5 API
  src/lib/performance/monitoring.ts
Due: lint, format, complexity-check, import-check

fix: update webVitals.ts to web-vitals v5 API
  src/utils/webVitals.ts
Due: lint, format, complexity-check, import-check

fix: improve NavigateButtons visibility logic
  src/components/navigateButtons/NavigateButtons.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

feat(navbar): add admin dashboard link and user profile info
  src/app/HomeClient.tsx
  src/components/header/navbar/Navbar.tsx
  src/components/header/navbar/organisms/DesktopMenu.tsx
  src/components/header/navbar/organisms/MobileMenu.tsx
  src/components/header/navbar/organisms/NavbarActions.tsx
  src/components/header/navbar/types.ts
Due: lint, format, complexity-check, import-check, accessibility-check

fix: remove extraneous quotes from SearchBar text labels
  src/components/header/navbar/SearchBar.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

refactor(auth): convert auth callback to route handler and improve proxy
  docs/vercel/AUTH_FIX_SUMMARY.md
  docs/vercel/AUTH_FLOW_DIAGRAM.md
  docs/vercel/SSL_SAFEBROWSE_INCIDENT_REPORT.md
  docs/vercel/SUPABASE_AUTH_FIX.md
  src/app/auth/callback/page.tsx
  src/app/auth/callback/route.ts
  src/proxy.ts
Due: lint, format, complexity-check, import-check, accessibility-check

refactor: clean up proxy.ts formatting and documentation
  src/proxy.ts
Due: lint, format, complexity-check, import-check

fix(supabase): add explicit FK references to user_roles queries
  src/hooks/queries/useAdminQueries.ts
  src/hooks/queries/useAuthQueries.ts
Due: lint, format, complexity-check, import-check

perf: optimize codebase for React Compiler
  context/ARCHITECTURE.md
  docs/03-features/navbar/README.md
  src/app/HomeClient.tsx
  src/app/actions/products.ts
  src/app/layout.tsx
  src/app/privacy/page.tsx
  src/app/terms/page.tsx
  src/components/header/navbar/Navbar.tsx
  src/components/productCard/ProductGrid.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

perf: fix data imports and add route caching
  src/app/food/[id]/page.tsx
  src/app/map/[type]/page.tsx
  src/app/user-listings/page.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

fix: resolve build errors - server/client separation and add missing files
  .kiro/steering/migration-status.md
  .kiro/steering/shadcn.md
  CLAUDE.md
  context/ARCHITECTURE.md
  src/app/actions/profile.ts
  src/app/api/products/route.ts
  src/app/chat/page.tsx
  src/app/layout.tsx
  src/app/profile/[id]/ViewProfileClient.tsx
  src/app/profile/[id]/page.tsx
  src/app/user-listings/UserListingsClient.tsx
  src/components/ui/skeleton.tsx
  src/hooks/queries/useProductQueries.ts
Due: lint, format, complexity-check, import-check, accessibility-check

fix: use nested CSS for glass-shimmer pseudo-element in Tailwind v4
  src/app/globals.css
Due: format

fix: properly type error in adminAPI catch block
  src/api/adminAPI.ts
Due: lint, format, complexity-check, import-check

fix: correct roles array type in adminAPI getUserRoles
  .kiro/settings/mcp.json
  .mcp.json
  src/api/adminAPI.ts
Due: lint, format, complexity-check, import-check

fix: properly type error in adminAPI catch blocks
  src/api/adminAPI.ts
Due: lint, format, complexity-check, import-check

fix: correct Supabase join array types in campaignAPI
  src/api/campaignAPI.ts
Due: lint, format, complexity-check, import-check

fix: resolve TypeScript build errors for Vercel deployment
  context/CACHING.md
  docs/02-development/DATABASE_SCHEMA.md
  docs/storages/storages.md
  docs/storages/storages_creds.md
  src/api/campaignAPI.ts
  src/api/crmAPI.ts
  src/api/segmentBuilderAPI.ts
  src/app/food/new/NewProductForm.tsx
  src/components/carousel/ItemsForCarousel.tsx
  src/hooks/useProductDistanceCalculation.ts
  src/lib/data/crm.ts
  src/lib/email/test-providers.ts
  src/lib/storage/blob.ts
  src/lib/storage/redis.ts
  src/lib/storage/search.ts
  src/lib/storage/vector.ts
  src/utils/translationClient.ts
Due: lint, format, complexity-check, import-check, accessibility-check

feat: add green 'Become a Sharer' button for unauthenticated users
  src/components/becomeSharerBlock/BecomeSharerButton.tsx
  src/components/header/navbar/organisms/NavbarActions.tsx
  src/components/index.ts
Due: lint, format, complexity-check, import-check, accessibility-check

fix: use 'Add listing' text for unauthenticated button to match authenticated state
  src/components/becomeSharerBlock/BecomeSharerButton.tsx
  src/components/navigateButtons/NavigateButtons.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

refactor: extract shared AddListingButton component
  src/app/map/[type]/page.tsx
  src/components/becomeSharerBlock/AddListingButton.tsx
  src/components/becomeSharerBlock/BecomeSharerBlock.tsx
  src/components/becomeSharerBlock/BecomeSharerButton.tsx
  src/components/index.ts
  src/components/leaflet/UserLocationMarker.tsx
  src/components/modals/AuthenticationUser/AuthenticationUserModal.tsx
  src/lib/data/maps.ts
Due: lint, format, complexity-check, import-check, accessibility-check

chore: autofix formatting
  src/components/leaflet/UserLocationMarker.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

feat: beautify forum dashboard with advanced filtering and stats
  docs/03-features/forum/README.md
  src/app/forum/[slug]/page.tsx
  src/app/forum/page.tsx
  src/components/forum/RealtimeComments.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

fix: correct role type check in forum layout
  src/app/forum/layout.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

fix: correct Framer Motion transition type in LoginSecurityClient
  src/app/settings/login-and-security/LoginSecurityClient.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

fix: correct Framer Motion transition types in settings components
  src/app/settings/SettingsClient.tsx
  src/app/settings/personal-info/PersonalInfoClient.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

fix: use static value for revalidate segment config in map page
  src/app/map/[type]/page.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

fix: handle profiles array type in forum RSS feed
  src/app/auth/forgot-password/page.tsx
  src/app/auth/loading.tsx
  src/app/auth/login/page.tsx
  src/app/auth/reset-password/page.tsx
  src/app/forum/feed.xml/route.ts
Due: lint, format, complexity-check, import-check, accessibility-check

fix: handle forum_categories array type in RSS feed
  src/app/forum/feed.xml/route.ts
Due: lint, format, complexity-check, import-check

fix: rename togglePostLike to toggleForumLike for consistency
  docs/optimization/PERFORMANCE_AUDIT_2025_12.md
  src/app/actions/forum.ts
Due: lint, format, complexity-check, import-check

fix: use React.ReactElement instead of JSX.Element and fix toggleForumLike call
  docs/optimization/PERFORMANCE_AUDIT_2025_12.md
  src/components/forum/ForumLikeButton.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

feat: add reports/moderation system and update docs
  context/CACHING.md
  docs/02-development/PERFORMANCE_GUIDE.md
  docs/03-features/README.md
  docs/03-features/authentication/README.md
  docs/05-reference/API_REFERENCE.md
  docs/optimization/PERFORMANCE_AUDIT_2025_12.md
  messages/en.json
  package-lock.json
  package.json
  src/app/HomeClient.tsx
  src/app/actions/reports.ts
  src/app/api/moderation/analyze/route.ts
  src/app/api/products/route.ts
  src/app/auth/forgot-password/page.tsx
  src/components/main/Main.tsx
  src/components/productCard/ProductGrid.tsx
  src/components/reports/ReportPostDialog.tsx
  src/components/reports/index.ts
  src/hooks/queries/useProductQueries.ts
  src/lib/data/products.ts
  src/lib/data/reports.ts
Due: lint, format, complexity-check, import-check, accessibility-check

Path conditions:
  lint: any of: *.{ts,tsx,js,jsx}
  format: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  complexity-check: any of: *.{ts,tsx,js,jsx}
  import-check: any of: *.{ts,tsx,js,jsx}
  accessibility-check: any of: *.{tsx,jsx}
