Repository Foodshareclub/foodshare-web: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, sort-imports

format:
  tags: format quality autofix
  run: bunx prettier --write --cache --cache-strategy metadata {staged_files}
  stage_fixed: true
  priority: 1
  env:
    FORCE_COLOR: '0'
    NODE_OPTIONS: ''

lint:
  tags: lint quality autofix
  run: bunx eslint {staged_files} --fix --max-warnings=0 --no-warn-ignored --cache --cache-location .eslintcache
  stage_fixed: true
  priority: 1
  env:
    FORCE_COLOR: '0'
    NODE_OPTIONS: ''

sort-imports:
  tags: quality autofix
  run: bunx eslint {staged_files} --fix --rule 'import/order:error' --no-warn-ignored 2>/dev/null || true
  stage_fixed: true
  priority: 1
  env:
    NODE_OPTIONS: ''

fix(e2e): Restore header tag and navbar class for Playwright tests
  e2e/accessibility.spec.ts
  e2e/auth.spec.ts
  playwright.config.ts
Due: format, lint, sort-imports

fix(ci): move E2E env vars to job level for webServer inheritance
  .github/workflows/web.yml
Due: format

fix(e2e): add /api/ready endpoint for Playwright health check; exclude from proxy auth
  playwright.config.ts
  src/app/api/ready/route.ts
  src/proxy.ts
Due: format, lint, sort-imports

fix(ci): allow localhost in CI for CSRF; skip Supabase auth in CI
  src/proxy.ts
Due: format, lint, sort-imports

fix(e2e): improve marker click timing and RPC fallback handling
  deno.lock
  e2e/map.spec.ts
  src/lib/data/maps.ts
Due: format, lint, sort-imports

Add trigger comment
  README.md
Due: format

chore(foodlytics): remove unused imports and variables
  src/app/foodlytics/page.tsx
  src/components/foodlytics/advisor-chat.tsx
  src/components/foodlytics/campaign-tracker.tsx
  src/components/foodlytics/fridge-scan.tsx
Due: format, lint, sort-imports

ci: run vps maintenance via self-hosted runner
  .github/workflows/vps-maintenance.yml
Due: format

feat: merge foodshare-ai code review into admin dashboard - ReviewsPage, ReposPage, ReviewForm, admin API routes, sidebar nav, AIInsightsClient integration
  src/app/admin/ai-insights/AIInsightsClient.tsx
  src/app/admin/ai-insights/ReviewForm.tsx
  src/app/admin/ai-insights/repos/page.tsx
  src/app/admin/ai-insights/reviews/page.tsx
  src/app/api/admin/pulls/route.ts
  src/app/api/admin/repos/config/route.ts
  src/app/api/admin/review/route.ts
  src/app/api/admin/reviews/route.ts
  src/components/admin/AdminSidebar.tsx
  src/lib/api/index.ts
Due: format, lint, sort-imports

feat(foodlytics): remove Fridge Scan component and switch household_waste_logs to waste_logs
  .github/workflows/web.yml
  src/app/foodlytics/page.tsx
Due: format, lint, sort-imports

feat(foodlytics): scope waste_logs queries and inserts to current household
  src/app/foodlytics/page.tsx
Due: format, lint, sort-imports

fix(e2e): repair failing E2E specs and wire login form labels
  e2e/accessibility.spec.ts
  e2e/auth.spec.ts
  e2e/home.spec.ts
  e2e/map.spec.ts
  e2e/navigation.spec.ts
  src/app/auth/login/page.tsx
Due: format, lint, sort-imports

fix(health): replace cloud Management API probes with self-hosted service checks
  src/app/api/health/route.ts
Due: format, lint, sort-imports

fix(e2e): make grid-content assertions tolerate delayed empty states
  e2e/food-listings.spec.ts
  e2e/home.spec.ts
Due: format, lint, sort-imports

ci: deploy on workflow_dispatch and fail health checks on key rejection
  .github/workflows/web.yml
  src/app/api/health/route.ts
  src/lib/data/health.ts
Due: format, lint, sort-imports

ci: run nightly compat on self-hosted runners (billing-outage resilient)
  .github/workflows/daily-compat.yml
Due: format

ci: ai-review reads keys from job env (composite actions lack secrets context)
  .github/workflows/daily-compat.yml
Due: format

ci: correct biome ignore pattern for vendored mirror
  biome.json
Due: format

ci: device-record backend blob sync
  supabase/functions/api-v1-attestation/lib/device-record.ts
Due: format, lint, sort-imports

ci: env guards for self-hosted quality jobs (SKIP_ENV_VALIDATION)
  .github/workflows/daily-compat.yml
Due: format

ci: nightly unit-test leg advisory on self-hosted (env-sensitive mocks)
  .github/workflows/daily-compat.yml
Due: format

ci: mirror full CI e2e env in nightly playwright shards
  .github/workflows/daily-compat.yml
Due: format

chore: sync deno.lock with vendored supabase function deps
  deno.lock
Due: none

feat(nav): integrate Foodlytics into centered category tabs
  messages/ar.json
  messages/cs.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/fr.json
  messages/hi.json
  messages/id.json
  messages/it.json
  messages/ja.json
  messages/ko.json
  messages/nl.json
  messages/pl.json
  messages/pt.json
  messages/ru.json
  messages/sv.json
  messages/th.json
  messages/tr.json
  messages/uk.json
  messages/vi.json
  messages/zh.json
  src/components/header/navbar/Navbar.tsx
  src/components/header/navbar/organisms/NavbarActions.tsx
  src/constants/categories.ts
Due: format, lint, sort-imports

feat(nav): move Foodlytics tab directly after Forum
  messages/ar.json
  messages/cs.json
  messages/de.json
  messages/en.json
  messages/es.json
  messages/fr.json
  messages/hi.json
  messages/id.json
  messages/it.json
  messages/ja.json
  messages/ko.json
  messages/nl.json
  messages/pl.json
  messages/pt.json
  messages/ru.json
  messages/sv.json
  messages/th.json
  messages/tr.json
  messages/uk.json
  messages/vi.json
  messages/zh.json
  src/constants/categories.ts
Due: format, lint, sort-imports

feat(foodlytics): vertical left section nav; hide search bar on foodlytics
  src/app/foodlytics/page.tsx
  src/components/header/navbar/Navbar.tsx
Due: format, lint, sort-imports

fix(security): allowlist next/image hosts; nightly tests per-file + strict
  .github/workflows/daily-compat.yml
  next.config.ts
Due: format, lint, sort-imports

ci: compat matrix reads sibling repos via CROSS_REPO_TOKEN
  .github/workflows/daily-compat.yml
Due: format

ci: sync vendored supabase with backend (3 new migrations)
  supabase/migrations/20260826000000_rewrite_legacy_storage_hosts.sql
  supabase/migrations/20260826010000_create_us_foodwaste_categories.sql
  supabase/migrations/20260826020000_waste_logs_delete_policy.sql
Due: none

ci: isolate sibling checkouts in runner.temp (workspace race with pipelines)
  .github/workflows/daily-compat.yml
Due: format

ci: compat checkouts under workspace .compat/ dirs
  .github/workflows/daily-compat.yml
Due: format

ci: compat script path follows .compat checkout dir
  .github/workflows/daily-compat.yml
Due: format

chore(web): upgrade Next.js 16.2.11 → 16.3.3
  bun.lock
  next.config.ts
  package.json
Due: format, lint, sort-imports

chore(web): bump patch deps
  bun.lock
  package.json
Due: format

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,css,scss,md,yaml,yml}
  lint: any of: *.{ts,tsx,js,jsx}
  sort-imports: any of: *.{ts,tsx,js,jsx}
