Repository Foodshareclub/foodshare-web: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,css,scss,md,yaml,yml}
  lint: any of: *.{ts,tsx,js,jsx}
  nextjs-security: any of: *.{ts,tsx,js,jsx,json}
  complexity-check: any of: *.{ts,tsx,js,jsx}
  sort-imports: any of: *.{ts,tsx,js,jsx}
  import-check: any of: *.{ts,tsx,js,jsx}
  no-console: any of: *.{ts,tsx,js,jsx}
  accessibility: any of: *.{tsx,jsx}

fix(auth): Stop aggressive cookie clearing in proxy
  src/proxy.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(auth): Remove cookie filtering that broke authentication
  src/lib/supabase/server.ts
  src/proxy.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(auth): Check auth on client before navigating to /new
  src/components/becomeSharerBlock/BecomeSharerBlock.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(nav): Use Link components for Add Listing navigation
  src/components/becomeSharerBlock/BecomeSharerBlock.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(csp): Remove duplicate security headers from proxy.ts
  src/proxy.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(auth): Remove cookie clearing from client.ts - ROOT CAUSE
  src/lib/supabase/client.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(auth): Preserve auth tokens during storage error recovery
  src/components/ErrorBoundary/GenericErrorBoundary.tsx
  src/components/admin/email/tabs/ComposeTab.tsx
  src/lib/email/templates/index.ts
  src/lib/email/templates/welcome-series.ts
  src/utils/autoRecovery.ts
  src/utils/storageErrorHandler.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(auth): Use getAuthSession() for consistent auth in /new routes
  src/app/food/new/page.tsx
  src/app/new/page.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(auth): Pass profile prop and remove key forcing remount
  src/app/food/new/page.tsx
  src/app/new/page.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(auth): Use server userId for auth state in NewProductForm
  src/app/food/new/NewProductForm.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat(email): Add email template system with welcome series
  scripts/check-templates.ts
  scripts/seed-email-templates.ts
  src/components/admin/email/tabs/ComposeTab.tsx
  src/lib/email/template-renderer.ts
  src/lib/email/templates/index.ts
  src/lib/email/templates/welcome-series.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(form): Sync category with URL param when initialType changes
  src/app/food/new/NewProductForm.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(volunteer): Make photo optional for volunteer applications
  src/app/food/new/NewProductForm.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

chore: Update rich text editor and email templates
  src/components/ui/rich-text-editor.tsx
  src/lib/email/templates/welcome-series.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat(email): Add database-driven email template system
  src/app/actions/database-email.ts
  src/app/admin/email/templates/page.tsx
  src/hooks/use-email-templates.ts
  src/lib/email/database-templates.ts
  src/lib/email/index.ts
  src/lib/email/send.ts
  src/lib/email/templates/welcome-series.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

refactor(email): Use unified notification API for all email operations
  src/app/actions/admin-email.ts
  src/app/actions/email.ts
  src/lib/notifications/api-client.ts
  src/lib/notifications/index.ts
  src/lib/notifications/types.ts
  src/trigger/campaign-processor.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat(email): Add provider stats sync from external APIs
  src/app/api/admin/email/sync/route.ts
  src/components/admin/email/EmailCRMClient.tsx
  src/hooks/queries/useEmailCRM.ts
  src/lib/data/admin-email.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

refactor(admin): update email sync to use unified notifications API
  src/app/api/admin/email/sync/route.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(email): read quota data from synced health metrics table
  src/lib/data/admin-email.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

Refactor Email CRM Dashboard with premium design
  src/components/admin/email/EmailCRMDashboard.tsx
  src/components/admin/email/cards/AutomationListItem.tsx
  src/components/admin/email/cards/CampaignListItem.tsx
  src/components/admin/email/shared/EmptyState.tsx
  src/components/admin/email/tabs/OverviewTab.tsx
  src/components/admin/email/tabs/ProvidersTab.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

Fix Email CRM dashboard data fetching with admin client
  src/lib/data/admin-email.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

Fix dashboard stats to aggregate from provider health metrics
  src/lib/data/admin-email.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat(admin): Add Templates and Queue tabs to Email CRM dashboard
  src/components/admin/email/EmailCRMDashboard.tsx
  src/components/admin/email/tabs/QueueTab.tsx
  src/components/admin/email/tabs/TemplatesTab.tsx
  src/components/admin/email/tabs/index.ts
  src/components/admin/email/types.ts
  src/lib/data/admin-email.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(admin): Use admin client for email templates fetch
  src/lib/data/automations.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(notifications): Extract error from nested data in API response
  src/lib/notifications/api-client.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

update dependencies and configurations
  package-lock.json
  package.json
  src/app/api/health/upstash/setup-schedule/route.ts
  src/lib/storage/blob.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix: remove broken lefthook-rs references
  lefthook.yml
Due: format

test: verify hooks are working
  test.txt
Due: none

fix: Redis hset API usage
  src/app/api/health/enterprise/manage/route.ts
  src/app/api/health/enterprise/route.ts
  src/app/api/health/upstash/setup-schedule/route.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat: 100x enterprise health monitoring v2 - circuit breakers, optimistic locking, structured logging, prometheus metrics
  src/app/api/health/enterprise/manage/route.ts
  src/app/api/health/enterprise/route.ts
  src/app/api/health/v2/manage/route.ts
  src/app/api/health/v2/route.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat: production-grade health monitoring - singleton pattern, rate limiting, auth, caching, SCAN optimization
  src/app/api/health/v2/route.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

docs: comprehensive health monitoring documentation
  docs/HEALTH_MONITORING.md
Due: format

chore: remove deprecated health check cron job
  vercel.json
Due: format, nextjs-security

feat: deprecate old health endpoint with 410 Gone status
  src/app/api/health/upstash/route.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix: remove duplicate pathname declaration
  src/app/api/admin/proxy-metrics/route.ts
  src/app/api/health/upstash/route.ts
  src/app/api/health/v2/manage/route.ts
  src/proxy.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix: TypeScript errors in health routes
  src/app/api/health/v2/manage/route.ts
  src/app/api/health/v2/route.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix: remaining TypeScript errors
  src/app/api/health/v2/manage/route.ts
  src/app/api/health/v2/route.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix: only refresh auth when cookies exist, prevent false circuit breaks
  src/proxy.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat: add optimization plan and lightweight ping endpoint
  src/app/api/ping/route.ts
  src/proxy.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat: massive optimization - 98% reduction in function invocations
  public/og/challenge.svg
  public/og/donation.svg
  public/og/food.svg
  public/og/forum.svg
  public/og/help.svg
  public/og/home.svg
  public/og/map.svg
  public/og/profile.svg
  scripts/generate-og-images.ts
  src/app/api/health/detailed/route.ts
  src/app/api/health/enterprise/manage/route.ts
  src/app/api/health/enterprise/route.ts
  src/app/api/health/v2/manage/route.ts
  src/app/api/health/v2/route.ts
  src/app/challenge/[id]/opengraph-image.tsx
  src/app/challenge/[id]/twitter-image.tsx
  src/app/challenge/opengraph-image.tsx
  src/app/challenge/twitter-image.tsx
  src/app/donation/opengraph-image.tsx
  src/app/donation/twitter-image.tsx
  src/app/food/[id]/opengraph-image.tsx
  src/app/food/[id]/twitter-image.tsx
  src/app/food/opengraph-image.tsx
  src/app/food/twitter-image.tsx
  src/app/forum/[slug]/opengraph-image.tsx
  src/app/forum/[slug]/twitter-image.tsx
  src/app/forum/opengraph-image.tsx
  src/app/forum/twitter-image.tsx
  src/app/help/opengraph-image.tsx
  src/app/help/twitter-image.tsx
  src/app/map/[type]/opengraph-image.tsx
  src/app/map/[type]/twitter-image.tsx
  src/app/opengraph-image.tsx
  src/app/profile/[id]/opengraph-image.tsx
  src/app/profile/[id]/twitter-image.tsx
  src/app/twitter-image.tsx
  src/lib/metadata.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility
