Repository Foodshareclub/foodshare-web: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, sort-imports

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,css,scss,md,yaml,yml}
  lint: any of: *.{ts,tsx,js,jsx}
  sort-imports: any of: *.{ts,tsx,js,jsx}

fix: prevent OAuth errors by hiding unconfigured providers
  docs/OAUTH_SETUP.md
  src/components/modals/AuthenticationUser/AuthenticationUserModal.tsx
  src/lib/config/oauth.ts
Due: format, lint, sort-imports

fix: disable OAuth providers by default to prevent errors
  .env.local.example
  docs/OAUTH_SETUP.md
  src/lib/config/oauth.ts
Due: format, lint, sort-imports

docs: update OAuth setup for self-hosted Supabase
  docs/OAUTH_SETUP.md
Due: format

docs: add OAuth configuration tools and troubleshooting guide
  docs/OAUTH_TROUBLESHOOTING.md
  scripts/configure-oauth.sh
Due: format

feat: add self-hosted runner CI/CD for backend
  .github/workflows/ci-cd.yml
Due: format

perf: optimize backend CI/CD - use self-hosted runner
  .github/workflows/ci-cd.yml
Due: format

perf: use self-hosted runner for all jobs
  .github/workflows/ci-cd.yml
Due: format

feat: deploy OAuth secrets from GitHub Secrets to backend .env
  .github/workflows/ci-cd.yml
Due: format

fix: deploy depends on validation not docker
  .github/workflows/ci-cd.yml
Due: format

fix: use X64 runner labels to match actual runner configuration
  .github/workflows/ci-cd.yml
Due: format

test: add runner connectivity test workflow
  .github/workflows/test-runner.yml
Due: format

fix: re-enable OAuth providers and streamline CI/CD pipeline
  .github/workflows/ci-cd.yml
  docs/CI_CD_OPTIMIZATIONS.md
  src/app/auth/login/page.tsx
Due: format, lint, sort-imports

fix: resolve YAML parse error in CI/CD deploy step
  .github/workflows/ci-cd.yml
Due: format

docs/scripts: update oauth and runner documentation
  docs/OAUTH_TROUBLESHOOTING.md
  docs/SELF_HOSTED_RUNNER.md
  scripts/configure-oauth.sh
Due: format

fix: E2E webserver not starting due to truthy SKIP_WEBSERVER string
  .github/workflows/ci-cd.yml
  playwright.config.ts
Due: format, lint, sort-imports

fix: increase E2E timeout and add build diagnostics
  .github/workflows/ci-cd.yml
  playwright.config.ts
Due: format, lint, sort-imports

fix: include hidden files in build-output artifact
  .github/workflows/ci-cd.yml
Due: format

fix: tar build output to bypass artifact restrictions
  .github/workflows/ci-cd.yml
Due: format

perf: optimize E2E CI execution time
  .github/workflows/ci-cd.yml
  playwright.config.ts
Due: format, lint, sort-imports

perf: further optimize E2E CI execution time
  .github/workflows/ci-cd.yml
Due: format

fix: pass oauth provider environment variables to docker build context
  Dockerfile
Due: none

fix: access env vars explicitly so Next.js can inline them
  src/lib/config/oauth.ts
Due: format, lint, sort-imports

docs: document github actions secret management for oauth providers
  GEMINI.md
Due: format

feat: support Apple OAuth secrets and improve auth error reporting
  .github/workflows/ci-cd.yml
  src/hooks/useAuth.ts
Due: format, lint, sort-imports

chore: explicitly use Node.js 24 in CI/CD
  .github/workflows/ci-cd.yml
Due: format

chore: remove unused test-runner workflow
  .github/workflows/test-runner.yml
Due: format

chore: force javascript actions to node 24
  .github/workflows/ci-cd.yml
Due: format

fix(lint): ignore supabase directory (deno code)
  eslint.config.mjs
Due: none

docs: replace foodshare-ios/android references with foodshare-app
  docs/context/ARCHITECTURE.md
  tools/README.md
Due: format

docs: rename ci-cd.yml to web.yml in GEMINI.md
  GEMINI.md
Due: format

docs: add CI badge
  README.md
Due: format

chore: enable automated secret scanning via lefthook-rs
  lefthook.yml
Due: format

chore: enhance git hooks with protected branch and large file checks
  lefthook.yml
Due: format

chore: centralize git hooks via symlink to foodshare-tools
  lefthook.yml
Due: format

feat(infra): migrate to Vault-first secret management for deployment
  .github/workflows/web.yml
  docs/prompts.md
  src/app/@modal/(.)borrow/[id]/page.tsx
  src/app/@modal/(.)challenge/[id]/page.tsx
  src/app/@modal/(.)food/[id]/page.tsx
  src/app/@modal/(.)foodbank/[id]/page.tsx
  src/app/@modal/(.)fridge/[id]/page.tsx
  src/app/@modal/(.)organisation/[id]/page.tsx
  src/app/@modal/(.)thing/[id]/page.tsx
  src/app/@modal/(.)vegan/[id]/page.tsx
  src/app/@modal/(.)volunteer/[id]/page.tsx
  src/app/@modal/(.)wanted/[id]/page.tsx
  src/app/@modal/(.)zerowaste/[id]/page.tsx
  src/app/@modal/InterceptingUserActions.tsx
  src/app/@modal/ProductDetailModal.tsx
  src/app/@modal/ProductInterceptPage.tsx
  src/app/@modal/default.tsx
  src/app/food/[id]/PostDetailClient.tsx
  src/app/food/[id]/PostDetailContent.tsx
  src/app/food/layout.tsx
  src/app/layout.tsx
  src/hooks/useAuth.ts
Due: format, lint, sort-imports
