Repository Foodshareclub/foodshare-web: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,css,scss,md,yaml,yml}
  lint: any of: *.{ts,tsx,js,jsx}
  nextjs-security: any of: *.{ts,tsx,js,jsx,json}
  complexity-check: any of: *.{ts,tsx,js,jsx}
  sort-imports: any of: *.{ts,tsx,js,jsx}
  import-check: any of: *.{ts,tsx,js,jsx}
  no-console: any of: *.{ts,tsx,js,jsx}
  accessibility: any of: *.{tsx,jsx}

chore: migrate tools to unified foodshare-tools repository
  tools/Cargo.lock
  tools/Cargo.toml
  tools/README.md
  tools/src/checks/accessibility.rs
  tools/src/checks/bundle_size.rs
  tools/src/checks/complexity.rs
  tools/src/checks/conventional_commit.rs
  tools/src/checks/dependency_audit.rs
  tools/src/checks/import_check.rs
  tools/src/checks/large_files.rs
  tools/src/checks/mod.rs
  tools/src/checks/nextjs_security.rs
  tools/src/checks/no_console.rs
  tools/src/checks/pre_commit.rs
  tools/src/checks/project_structure.rs
  tools/src/checks/protected_branch.rs
  tools/src/checks/security.rs
  tools/src/checks/test_coverage.rs
  tools/src/checks/unused_exports.rs
  tools/src/main.rs
  tools/src/utils.rs
Due: format

docs: update MotherDuck integration and analytics actions
  docs/analytics/MOTHERDUCK_INTEGRATION.md
  src/app/actions/analytics.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat: update admin sidebar and translations
  messages/en.json
  src/components/admin/AdminSidebar.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat(webhooks): add Meta webhook endpoint with Vault integration
  src/app/api/webhooks/meta/route.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(tooling): clear NODE_OPTIONS to prevent debugger hang in git hooks
  lefthook.yml
Due: format

fix: add supabase admin client and fix gitignore pattern
  .gitignore
  src/lib/supabase/admin.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat(analytics): add geographic hotspots and hourly activity analytics
  src/app/actions/analytics.ts
  src/components/admin/analytics/AnalyticsDashboard.tsx
  src/components/admin/analytics/GeoHeatMap.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat(analytics): add triggerAnalyticsSync action and update MotherDuck docs
  docs/analytics/MOTHERDUCK_INTEGRATION.md
  src/app/actions/analytics.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat(analytics): add enhanced V2 dashboard with impact metrics and elegant UI
  docs/05-reference/API_REFERENCE.md
  next.config.ts
  src/app/admin/analytics/page.tsx
  src/app/admin/analytics/sync/page.tsx
  src/components/admin/analytics/AnalyticsDashboardV2.tsx
  src/components/admin/analytics/ChartCard.tsx
  src/components/admin/analytics/InsightCard.tsx
  src/components/admin/analytics/SyncStatusBadge.tsx
  src/hooks/useAuth.ts
  src/lib/data/auth.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(analytics): replace MotherDuck with direct Supabase queries
  docs/analytics/MOTHERDUCK_INTEGRATION.md
  src/app/actions/analytics.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(analytics): use correct column names for Supabase schema
  src/app/actions/analytics.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat(analytics): add engagement metrics and fix Supabase column names
  src/app/actions/analytics.ts
  src/components/admin/analytics/AnalyticsDashboardV2.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

refactor: consolidate analytics dashboard and update docs
  docs/02-development/DATABASE_SCHEMA.md
  docs/analytics/MOTHERDUCK_INTEGRATION.md
  src/app/admin/analytics/page.tsx
  src/components/admin/analytics/AnalyticsDashboard.tsx
  src/components/admin/analytics/AnalyticsDashboardV2.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix: make analytics page content scrollable independently
  src/app/admin/analytics/page.tsx
  src/app/admin/layout.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

chore: archive steering files and update configs
  .kiro/steering_archived/architecture.md
  .kiro/steering_archived/best-practices.md
  .kiro/steering_archived/code-style.md
  .kiro/steering_archived/common-tasks.md
  .kiro/steering_archived/design.md
  .kiro/steering_archived/implementation.md
  .kiro/steering_archived/navbar.md
  .kiro/steering_archived/performance-acceleration.md
  .kiro/steering_archived/product.md
  .kiro/steering_archived/shadcn.md
  .kiro/steering_archived/structure.md
  .kiro/steering_archived/tech.md
  next.config.ts
  proxy.ts
  src/app/actions/feedback.ts
  src/hooks/queries/index.ts
  src/hooks/queries/useProducts.ts
  src/lib/data/og-stats.ts
  src/lib/data/profiles.ts
  src/proxy.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

docs: add Sentry integration documentation
  README.md
  docs/00-INDEX.md
  docs/SENTRY_INTEGRATION.md
  docs/outreach/SGC_RCC_Outreach_Email.md
  package-lock.json
Due: format, nextjs-security

Update Google Analytics tracking ID to G-2LTM8BGXPB
  .kiro/steering/architecture.md
  .kiro/steering/best-practices.md
  .kiro/steering/code-style.md
  .kiro/steering/common-tasks.md
  .kiro/steering/design.md
  .kiro/steering/implementation.md
  .kiro/steering/navbar.md
  .kiro/steering/performance-acceleration.md
  .kiro/steering/product.md
  .kiro/steering/shadcn.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  docs/graduate/GRADUATE_FELLOWSHIPS_FOR_FOUNDERS.md
  package.json
  src/lib/shared-packages.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

Fix build: remove non-existent @foodshare packages
  package-lock.json
  package.json
  src/lib/shared-packages.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

Fix Node.js version for Vercel
  package.json
Due: format, nextjs-security

Revert Node.js version to >=24.0.0
  package.json
Due: format, nextjs-security

fix: resolve Vercel deployment issues
  next.config.ts
  src/app/sitemap.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix: add TypeScript declarations for static asset imports
  src/types/assets.d.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix: correct SVG type declaration to match Next.js usage
  src/types/assets.d.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix: use .src property for static image imports
  src/components/leaflet/MarkerWhatEver.tsx
  src/components/leaflet/SearchMenu.tsx
  src/components/oneProduct/OneProduct.tsx
  src/components/topTips/TopTips.tsx
  src/hooks/useMarkerIcon.ts
  src/utils/navigationActions.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix: update Node.js version to 24.x to match Vercel settings
  package.json
Due: format, nextjs-security

fix: set Node.js version to >=24.0.0 to match Vercel settings
  package.json
Due: format, nextjs-security

fix(auth): resolve infinite loop in admin status check
  src/hooks/useAuth.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(build): disable Turbopack for production builds
  vercel.json
Due: format, nextjs-security

refactor: migrate to Bun for 100x performance
  .gitignore
  bun.lock
  bunfig.toml
  package-lock.json
  package.json
  src/app/api/map-preferences/route.ts
  src/app/global-error.tsx
  src/app/layout.tsx
  src/components/leaflet/MapPositionTracker.tsx
  src/fonts/InterVariable.woff2
  vercel.json
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(vercel): remove frozen-lockfile flag for compatibility
  vercel.json
Due: format, nextjs-security

fix(vercel): use default framework detection
  package.json
  vercel.json
Due: format, nextjs-security

fix(vercel): use npm install for Vercel deployment
  package-lock.json
  vercel.json
Due: format, nextjs-security

revert: use Google Fonts instead of local font
  src/app/layout.tsx
  src/fonts/InterVariable.woff2
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

test: remove vercel.json to use auto-detection
  vercel.json
Due: format, nextjs-security

chore: restore minimal vercel.json
  vercel.json
Due: format, nextjs-security

fix(vercel): downgrade to Node 20 for resource provisioning
  .node-version
  package.json
Due: format, nextjs-security
