Repository Foodshareclub/foodshare-web: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

format:
  tags: format quality autofix
  run: npx prettier --write --cache {staged_files}
  stage_fixed: true
  priority: 1

lint:
  tags: lint quality autofix
  run: npx eslint {staged_files} --fix --max-warnings=0 --no-warn-ignored --cache --cache-location .eslintcache
  stage_fixed: true
  priority: 1

nextjs-security:
  tags: security critical
  run: ./scripts/lefthook/target/release/lefthook-rs nextjs-security {staged_files}
  priority: 2

complexity-check:
  tags: quality optional
  run: ./scripts/lefthook/target/release/lefthook-rs complexity {staged_files}
  priority: 4
  skip:
  - run: test -z "$ENABLE_COMPLEXITY" && test -z "$ENABLE_ALL"

sort-imports:
  tags: quality autofix
  run: npx eslint {staged_files} --fix --rule 'import/order:error' --no-warn-ignored 2>/dev/null || true
  stage_fixed: true
  priority: 1

import-check:
  tags: quality optional
  run: ./scripts/lefthook/target/release/lefthook-rs import-check {staged_files}
  priority: 4
  skip:
  - run: test -z "$ENABLE_IMPORT_CHECK" && test -z "$ENABLE_ALL"

no-console:
  tags: quality optional
  run: ./scripts/lefthook/target/release/lefthook-rs no-console {staged_files}
  priority: 5
  skip:
  - run: test -z "$ENABLE_NO_CONSOLE" && test -z "$ENABLE_ALL"

accessibility:
  tags: a11y optional
  run: ./scripts/lefthook/target/release/lefthook-rs accessibility {staged_files}
  priority: 5
  skip:
  - run: test -z "$ENABLE_A11Y" && test -z "$ENABLE_ALL"

fix: use /food/ path for all product URLs
  src/app/my-posts/MyPostsClient.tsx
  src/components/asideProducts/AsideProducts.tsx
  src/components/map/ProductPopup.tsx
  src/components/productCard/ProductCard.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix: remove [category] catch-all route causing 500 errors
  src/app/[category]/page.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix: revert to module-level Supabase config loading
  src/lib/supabase/server.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix: use hybrid approach for Supabase config - build-safe with runtime checks
  src/lib/supabase/server.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix: revert server.ts to exact main branch version
  src/lib/supabase/server.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(routes): add plural category URL rewrites
  next.config.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

chore: add Playwright test artifacts to .gitignore
  .gitignore
Due: none

fix(tests): fix Zustand mock selector pattern in auth-flow tests
  src/__tests__/integration/auth-flow.test.tsx
  test-results/.playwright-artifacts-12/traces/d748ac400d08b85935ef-79fa9626ffa2ffdfbe8b-retry1.network
  test-results/.playwright-artifacts-12/traces/d748ac400d08b85935ef-79fa9626ffa2ffdfbe8b-retry1.trace
  test-results/.playwright-artifacts-12/traces/resources/page@7a544b016c70320cd391ddcf7a21f2ee-1765926412097.jpeg
  test-results/.playwright-artifacts-13/traces/d748ac400d08b85935ef-ab4f6ebd5a4ca479911b-retry1.network
  test-results/.playwright-artifacts-13/traces/d748ac400d08b85935ef-ab4f6ebd5a4ca479911b-retry1.trace
  test-results/.playwright-artifacts-13/traces/resources/page@a31ae7a2c7bf112c546da7a980b24715-1765926412097.jpeg
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

style(emails): enhance all 9 email templates with elegant styling
  src/emails/templates/listing-expired.html
  src/emails/templates/listing-interest.html
  src/emails/templates/magic-link.html
  src/emails/templates/new-message.html
  src/emails/templates/password-reset.html
  src/emails/templates/pickup-reminder.html
  src/emails/templates/review-request.html
  src/emails/templates/weekly-digest.html
  src/emails/templates/welcome-confirmation.html
Due: none

feat(admin): add email template preview page
  src/app/admin/email/templates/page.tsx
  src/app/api/admin/email/templates/[templateId]/route.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(ui): improve share button and location empty state
  src/app/HomeClient.tsx
  src/components/share/ShareButton.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat(settings): add elegant Language & Region settings page
  src/app/settings/SettingsClient.tsx
  src/app/settings/language/LanguageRegionClient.tsx
  src/app/settings/language/page.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat(settings): enhance Language & Region with advanced features
  src/app/settings/language/LanguageRegionClient.tsx
  src/store/zustand/useUIStore.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat(ui): add standardized card hover effects and accessibility improvements
  src/app/globals.css
  src/app/layout.tsx
  src/components/asideProducts/AsideProducts.tsx
  src/components/forum/ForumPostCard.tsx
  src/components/productCard/ProductCard.tsx
  src/components/settingsCard/SettingsCard.tsx
  src/components/theme/theme-customizer/PresetCard.tsx
  src/components/theme/theme-customizer/SeasonalPresetCard.tsx
  src/components/ui/empty-state.tsx
  src/components/ui/glass.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat(ui): comprehensive UI/UX improvements with design system enhancements
  messages/en.json
  src/app/challenge/ChallengesClient.tsx
  src/app/globals.css
  src/components/header/navbar/NavbarLogo.tsx
  src/components/header/navbar/SearchBar.tsx
  src/components/header/navbar/organisms/MobileMenu.tsx
  src/components/main/Main.tsx
  src/components/modals/challenge-reveal/ActionButtons.tsx
  src/components/modals/challenge-reveal/CardDeck.tsx
  src/components/modals/challenge-reveal/CardFace.tsx
  src/components/modals/challenge-reveal/ChallengeRevealModal.tsx
  src/components/modals/challenge-reveal/DeckStack.tsx
  src/components/modals/challenge-reveal/SwipeIndicators.tsx
  src/components/modals/challenge-reveal/SwipeableCard.tsx
  src/components/modals/challenge-reveal/animations.ts
  src/components/modals/challenge-reveal/constants.ts
  src/components/modals/challenge-reveal/index.ts
  src/components/modals/challenge-reveal/types.ts
  src/components/productCard/ProductCard.tsx
  src/components/productCard/ProductGrid.tsx
  src/components/theme/ThemeToggle.tsx
  src/components/ui-library/CategoryNav.tsx
  src/components/ui-library/CustomCategoryNav.tsx
  src/components/ui-library/ProductCard.tsx
  src/components/ui/button.tsx
  src/components/ui/dialog-skeleton.tsx
  src/components/ui/form-error-summary.tsx
  src/components/ui/form-field.tsx
  src/components/ui/icon.tsx
  src/components/ui/kbd.tsx
  src/components/ui/page-container.tsx
  src/components/ui/scroll-progress.tsx
  src/components/ui/success-animation.tsx
  src/hooks/useAsyncAction.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat(admin): add mobile drawer navigation and fix glass morphism
  src/app/admin/layout.tsx
  src/app/globals.css
  src/components/admin/AdminSidebar.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat(challenges): add interactive card deck hero experience
  src/app/challenge/ChallengesClient.tsx
  src/app/challenge/page.tsx
  src/app/globals.css
  src/components/challenges/ChallengeDeck/ChallengeDeck.tsx
  src/components/challenges/ChallengeDeck/HeroDeckCard.tsx
  src/components/challenges/ChallengeDeck/animations.ts
  src/components/challenges/ChallengeDeck/constants.ts
  src/components/challenges/ChallengeDeck/index.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

perf: add GPU-optimized animations for ChallengeDeck
  src/app/api/challenges/route.ts
  src/app/challenge/ChallengesClient.tsx
  src/app/challenge/page.tsx
  src/app/globals.css
  src/components/challenges/ChallengeDeck/ChallengeDeck.tsx
  src/components/challenges/ChallengeDeck/HeroDeckCard.tsx
  src/components/challenges/ChallengeDeck/animations.ts
  src/components/modals/challenge-reveal/CardFace.tsx
  src/hooks/queries/useChallenges.ts
  src/lib/data/challenges.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat(email): add email templates API and CRM dashboard improvements
  docs/email-templates/welcome-confirmation.html
  src/app/api/admin/email/templates/route.ts
  src/components/admin/email/EmailCRMDashboard.tsx
  src/hooks/queries/useEmailCRM.ts
  supabase/functions/_shared/email/templates.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

refactor: improve code quality with dev-only logging and cache helpers
  context/CACHING.md
  docs/REFACTORING_PLAN.md
  src/app/actions/products.ts
  src/app/actions/storage.ts
  src/app/page.tsx
  src/app/providers.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

refactor: extract shared health utility and improve prop naming
  messages/en.json
  src/app/actions/chat.ts
  src/app/actions/products.ts
  src/app/food/[id]/page.tsx
  src/app/food/page.tsx
  src/app/page.tsx
  src/app/profile/edit/page.tsx
  src/components/avatar/Avatar.tsx
  src/components/profile/AddressBlock.tsx
  src/components/profile/EmailBlock.tsx
  src/components/profile/NameBlock.tsx
  src/components/profile/PhoneNumberBlock.tsx
  src/components/shared/ResponsiveContainer.tsx
  src/hooks/queries/useProductQueries.ts
  src/lib/data/health.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(challenges): show clicked card in modal instead of random shuffle
  src/app/challenge/ChallengesClient.tsx
  src/components/challenges/ChallengeDeck/ChallengeDeck.tsx
  src/components/modals/challenge-reveal/CardDeck.tsx
  src/components/modals/challenge-reveal/ChallengeRevealModal.tsx
  src/components/modals/challenge-reveal/types.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat(challenges): add active challenges tracking and leaderboard
  src/app/actions/challenges.ts
  src/app/api/challenges/active/route.ts
  src/app/api/challenges/complete/route.ts
  src/app/api/challenges/leaderboard/me/route.ts
  src/app/api/challenges/leaderboard/route.ts
  src/app/api/challenges/leaderboard/user/[userId]/route.ts
  src/app/challenge/ChallengesClient.tsx
  src/app/challenge/page.tsx
  src/components/challenges/ActiveChallenges/ActiveChallenges.tsx
  src/components/challenges/ActiveChallenges/index.ts
  src/components/challenges/ChallengeLeaderboard/ChallengeLeaderboard.tsx
  src/components/challenges/ChallengeLeaderboard/LeaderboardRow.tsx
  src/components/challenges/ChallengeLeaderboard/LeaderboardSkeleton.tsx
  src/components/challenges/ChallengeLeaderboard/LeaderboardUserModal.tsx
  src/components/challenges/ChallengeLeaderboard/animations.ts
  src/components/challenges/ChallengeLeaderboard/constants.ts
  src/components/challenges/ChallengeLeaderboard/index.ts
  src/components/challenges/ChallengeLeaderboard/types.ts
  src/components/forum/ForumPageClient.tsx
  src/hooks/queries/useActiveChallenges.ts
  src/hooks/queries/useChallengeLeaderboard.ts
  src/lib/data/cache-keys.ts
  src/lib/data/challenge-leaderboard.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat(chat): add accept request and complete exchange buttons
  src/app/actions/chat.ts
  src/app/actions/email.ts
  src/app/chat/ChatPageClient.tsx
  src/components/chat/ChatErrorBoundary.tsx
  src/components/chat/UnifiedChatContainer.tsx
  src/components/chat/UnifiedChatList.tsx
  src/hooks/useUnifiedChat.ts
  src/lib/data/chat.ts
  supabase/migrations/20251217_add_rooms_rls_policies.sql
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(challenges): use createCachedClient in cached leaderboard functions
  src/lib/data/challenge-leaderboard.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(data): use createCachedClient in all unstable_cache functions
  src/lib/data/admin-listings.ts
  src/lib/data/admin-users.ts
  src/lib/data/post-activity.ts
  src/lib/data/profiles.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

chore: cleanup and reorganize documentation
  context/ultrathink.md
  docs/GLASS_MIGRATION_GUIDE.md
  docs/REFACTORING_PLAN.md
  docs/context/ADR.md
  docs/context/API_REFERENCE.md
  docs/context/ARCHITECTURE.md
  docs/context/CACHING.md
  docs/context/DATABASE_SCHEMA.md
  docs/context/DEVELOPMENT_GUIDE.md
  docs/context/FEATURES.md
  docs/context/FOLDER_STRUCTURE.md
  docs/context/INDEX.md
  docs/context/PRD.md
  docs/context/REFACTORING_TASKS.md
  docs/context/STYLE_GUIDE.md
  docs/context/TECH_STACK.md
  docs/context/WORKFLOWS.md
  docs/context/aib&b/design.md
  docs/context/aib&b/implementation.md
  docs/context/aib&b/navbar.md
  docs/supabase/prompts.md
Due: format

feat(ios): add Apple App Site Association for Universal Links
  src/app/.well-known/apple-app-site-association/route.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

chore: move geocoding deployment guide to docs folder
  docs/04-deployment/GEOCODING_DEPLOYMENT_GUIDE.md
Due: format

chore: update bun.lock
  bun.lock
Due: none

feat(forum): add Telegram notifications and R2 image uploads
  src/components/forum/CreatePostForm.tsx
  supabase/functions/notify-forum-post/config.toml
  supabase/functions/notify-forum-post/index.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(forum): map uploaded images to forum post UUID path
  src/components/forum/CreatePostForm.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(storage): return publicUrl for Supabase fallback uploads
  src/app/actions/storage.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix: forum post creation - correct table names and column mappings
  src/app/actions/forum.ts
  src/components/forum/CreatePostForm.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix: pass number to toggleForumLike instead of string
  src/components/forum/ForumLikeButton.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

perf: improve forum post publishing speed
  src/app/forum/[slug]/loading.tsx
  src/components/forum/CreatePostForm.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

perf: remove .select() from forum insert for faster response
  src/components/forum/CreatePostForm.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix: improve storage upload with better error handling and dual secret sources
  src/app/actions/storage.ts
  src/components/forum/CreatePostForm.tsx
  src/lib/r2/vault.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,css,scss,md,yaml,yml}
  lint: any of: *.{ts,tsx,js,jsx}
  nextjs-security: any of: *.{ts,tsx,js,jsx,json}
  complexity-check: any of: *.{ts,tsx,js,jsx}
  sort-imports: any of: *.{ts,tsx,js,jsx}
  import-check: any of: *.{ts,tsx,js,jsx}
  no-console: any of: *.{ts,tsx,js,jsx}
  accessibility: any of: *.{tsx,jsx}
