Repository Foodshareclub/foodshare-web: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,css,scss,md,yaml,yml}
  lint: any of: *.{ts,tsx,js,jsx}
  nextjs-security: any of: *.{ts,tsx,js,jsx,json}
  complexity-check: any of: *.{ts,tsx,js,jsx}
  sort-imports: any of: *.{ts,tsx,js,jsx}
  import-check: any of: *.{ts,tsx,js,jsx}
  no-console: any of: *.{ts,tsx,js,jsx}
  accessibility: any of: *.{tsx,jsx}

fix(forum): resolve duplicate TipTap link extension warning
  src/components/forum/RichTextEditor.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

perf(forum): defer heavy triggers for faster post publishing
  supabase/migrations/20251225_defer_heavy_forum_triggers.sql
Due: none

chore(forum): add timing logs to diagnose slow post publishing
  src/components/forum/CreatePostForm.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

chore(forum): add detailed diagnostics for slow post publishing
  src/components/forum/CreatePostForm.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

perf: use Server Action for forum post creation
  src/app/actions/forum.ts
  src/app/forum/new/page.tsx
  src/components/forum/CreatePostForm.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix: remove non-async exports from server actions file
  src/app/actions/forum.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat: add topic/thread support for Telegram forum channels
  supabase/functions/notify-forum-post/index.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

refactor: Phase 1 quick wins - performance and code quality
  src/components/header/navbar/hooks/index.ts
  src/components/header/navbar/hooks/useSearchSuggestions.ts
  src/components/modals/AuthenticationUser/AuthenticationUserModal.tsx
  src/hooks/useEvent.ts
  src/hooks/useSearchSuggestions.ts
  src/lib/data/cache-keys.ts
  src/lib/data/chat.ts
  src/lib/data/nearby-posts.ts
  src/lib/data/products.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(db): update is_admin() to use user_roles table
  supabase/migrations/20251226_fix_is_admin_function.sql
Due: none

chore: remove unused migration files
  supabase/migrations/create_feedback_table.sql
  supabase/migrations/db-functions.sql
Due: none

chore: remove old migration files
  supabase/migrations/001_create_email_preferences.sql
  supabase/migrations/002_create_email_logs.sql
  supabase/migrations/003_create_email_provider_quota.sql
  supabase/migrations/004_create_email_queue.sql
  supabase/migrations/005_create_email_triggers.sql
  supabase/migrations/006_create_email_health_monitoring.sql
  supabase/migrations/007_security_hardening.sql
  supabase/migrations/008_admin_mfa_security.sql
  supabase/migrations/009_email_cron_jobs.sql
  supabase/migrations/20241201_add_post_arranged_at.sql
  supabase/migrations/20241201_create_activity_tracking.sql
  supabase/migrations/20241206000001_fix_rls_initplan_performance.sql
  supabase/migrations/20241206000002_remove_duplicate_indexes.sql
  supabase/migrations/20241206000003_remove_unused_indexes.sql
  supabase/migrations/20241206000004_fix_function_search_path.sql
  supabase/migrations/20241206000005_add_moderation_rls_policies.sql
  supabase/migrations/20251201192930_add_posts_location_json.sql
  supabase/migrations/20251201_backfill_crm_customers.sql
  supabase/migrations/20251201_create_crm_campaign_tables.sql
  supabase/migrations/20251201_create_crm_core_tables.sql
  supabase/migrations/20251201_create_crm_functions.sql
  supabase/migrations/20251201_extend_email_system_for_crm.sql
  supabase/migrations/20251203_create_foodbank_system_user.sql
  supabase/migrations/20251215_add_mailersend_provider.sql
  supabase/migrations/20251215_auto_create_address_on_signup.sql
  supabase/migrations/20251215_comprehensive_geocoding_system.sql
  supabase/migrations/20251215_create_get_secrets_function.sql
  supabase/migrations/20251216_add_monthly_limit_to_quota.sql
  supabase/migrations/20251216_add_posts_update_policy.sql
  supabase/migrations/20251216_fix_post_activity_logs_fk.sql
  supabase/migrations/20251217_add_rooms_rls_policies.sql
  supabase/migrations/20251225_defer_heavy_forum_triggers.sql
  supabase/migrations/20251226_fix_is_admin_function.sql
Due: none

fix(security): add auth checks and input validation
  src/app/actions/admin-email.ts
  src/app/actions/products.ts
  src/components/header/navbar/NavbarWrapper.tsx
  src/lib/email/unified-service.ts
  supabase/migrations/20251226_fix_is_admin_function.sql
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(ui): add aria-labels to icon-only buttons
  src/components/admin/AdminListingsClient.tsx
  src/components/chat/UnifiedChatContainer.tsx
  src/components/chat/UnifiedChatList.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

chore(components): add barrel exports for key directories
  src/components/auth/index.ts
  src/components/chat/index.ts
  src/components/leaflet/index.ts
  src/components/location/index.ts
  src/components/modals/index.ts
  src/components/newsletter/index.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat(telegram-bot): enterprise security and observability improvements v3.4.0
  supabase/functions/telegram-bot-foodshare/config/index.ts
  supabase/functions/telegram-bot-foodshare/handlers/auth.ts
  supabase/functions/telegram-bot-foodshare/handlers/messages.ts
  supabase/functions/telegram-bot-foodshare/index.ts
  supabase/functions/telegram-bot-foodshare/services/cache.ts
  supabase/functions/telegram-bot-foodshare/services/impact.ts
  supabase/functions/telegram-bot-foodshare/services/profile.ts
  supabase/functions/telegram-bot-foodshare/types/index.ts
  supabase/functions/telegram-bot-foodshare/utils/timeout.ts
  supabase/functions/telegram-bot-foodshare/utils/validation.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat(telegram-bot): add secret_token to webhook setup
  supabase/functions/telegram-bot-foodshare/services/telegram-api.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat(whatsapp-bot): add WhatsApp bot with full feature parity to Telegram
  supabase/functions/whatsapp-bot-foodshare/README.md
  supabase/functions/whatsapp-bot-foodshare/config.toml
  supabase/functions/whatsapp-bot-foodshare/config/constants.ts
  supabase/functions/whatsapp-bot-foodshare/config/index.ts
  supabase/functions/whatsapp-bot-foodshare/handlers/auth.ts
  supabase/functions/whatsapp-bot-foodshare/handlers/interactive.ts
  supabase/functions/whatsapp-bot-foodshare/handlers/messages.ts
  supabase/functions/whatsapp-bot-foodshare/index.ts
  supabase/functions/whatsapp-bot-foodshare/lib/emojis.ts
  supabase/functions/whatsapp-bot-foodshare/lib/i18n.ts
  supabase/functions/whatsapp-bot-foodshare/lib/interactive.ts
  supabase/functions/whatsapp-bot-foodshare/locales/de.ts
  supabase/functions/whatsapp-bot-foodshare/locales/en.ts
  supabase/functions/whatsapp-bot-foodshare/locales/ru.ts
  supabase/functions/whatsapp-bot-foodshare/services/email.ts
  supabase/functions/whatsapp-bot-foodshare/services/geocoding.ts
  supabase/functions/whatsapp-bot-foodshare/services/impact.ts
  supabase/functions/whatsapp-bot-foodshare/services/profile.ts
  supabase/functions/whatsapp-bot-foodshare/services/rate-limiter.ts
  supabase/functions/whatsapp-bot-foodshare/services/supabase.ts
  supabase/functions/whatsapp-bot-foodshare/services/user-state.ts
  supabase/functions/whatsapp-bot-foodshare/services/whatsapp-api.ts
  supabase/functions/whatsapp-bot-foodshare/types/index.ts
  supabase/functions/whatsapp-bot-foodshare/utils/circuit-breaker.ts
  supabase/functions/whatsapp-bot-foodshare/utils/errors.ts
  supabase/functions/whatsapp-bot-foodshare/utils/timeout.ts
  supabase/functions/whatsapp-bot-foodshare/utils/validation.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

test: add comprehensive test suites for actions, auth, and security
  src/__tests__/actions/admin.test.ts
  src/__tests__/actions/chat.test.ts
  src/__tests__/actions/email.test.ts
  src/__tests__/actions/newsletter.test.ts
  src/__tests__/integration/admin-operations.test.tsx
  src/__tests__/integration/chat-flow.test.tsx
  src/__tests__/integration/email-campaign.test.tsx
  src/__tests__/lib/auth/api.test.ts
  src/__tests__/lib/auth/client.test.ts
  src/__tests__/lib/auth/session.test.ts
  src/__tests__/lib/data/products.test.ts
  src/__tests__/lib/security/auditLog.test.ts
  src/__tests__/lib/security/mfa.test.ts
  src/__tests__/lib/security/rateLimit.test.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix: resolve TypeScript errors in test files and source code
  src/__tests__/actions/admin.test.ts
  src/__tests__/actions/chat.test.ts
  src/__tests__/actions/email.test.ts
  src/__tests__/actions/newsletter.test.ts
  src/__tests__/lib/auth/api.test.ts
  src/__tests__/lib/security/rateLimit.test.ts
  src/api/segmentBuilderAPI.ts
  src/lib/security/auditLog.ts
  src/utils/buildErrorDetector.ts
  src/utils/webVitals.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix: replace carrot with strawberry logo in OG images and update Next.js
  package-lock.json
  package.json
  src/app/opengraph-image.tsx
  src/app/twitter-image.tsx
  src/lib/og-image.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat(og-images): dynamic OpenGraph images with pink branding and live stats
  src/app/actions/auth.ts
  src/app/challenge/ChallengesClient.tsx
  src/app/challenge/[id]/ChallengeDetailClient.tsx
  src/app/food/[id]/ProductDetailClient.tsx
  src/app/food/[id]/opengraph-image.tsx
  src/app/map/[type]/MapClient.tsx
  src/app/opengraph-image.tsx
  src/app/profile/ProfileSettingsClient.tsx
  src/app/profile/[id]/ViewProfileClient.tsx
  src/app/settings/login-and-security/LoginSecurityClient.tsx
  src/app/settings/personal-info/PersonalInfoClient.tsx
  src/app/twitter-image.tsx
  src/app/user-listings/UserListingsClient.tsx
  src/components/header/navbar/NavbarWrapper.tsx
  src/lib/data/og-stats.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(middleware): use dynamic imports for upstash packages
  middleware.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix: rename middleware.ts to proxy.ts for Next.js 16
  middleware.ts
  proxy.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

chore: add remaining project improvements and configurations
  IMPROVEMENT_PLAN.md
  docs/facebook/review.md
  next.config.ts
  src/app/api/health/detailed/route.ts
  src/app/layout.tsx
  src/lib/analytics/motherduck.ts
  src/lib/email/vault.ts
  src/lib/env.ts
  src/lib/logger/types.ts
  src/lib/metadata.ts
  src/lib/supabase/middleware.ts
  src/lib/supabase/session.ts
  src/utils/globalErrorHandler.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

docs: update CLAUDE.md for Next.js 16 changes
  CLAUDE.md
Due: format

fix(meta): use property attribute for fb:app_id OpenGraph tag
  docs/facebook/review.md
  src/app/layout.tsx
  src/lib/metadata.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

refactor(csp): simplify Content-Security-Policy configuration
  next.config.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

perf(og): add edge client and caching for OG images
  src/app/food/[id]/opengraph-image.tsx
  src/app/opengraph-image.tsx
  src/lib/data/og-stats.ts
  src/lib/supabase/edge.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(ui): prevent available hours text overflow in ProductCard
  src/components/productCard/ProductCard.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(og): remove unsupported CSS and simplify badge rendering
  src/app/opengraph-image.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

refactor(og): use dynamic OG images with input validation
  src/app/food/[id]/opengraph-image.tsx
  src/app/food/opengraph-image.tsx
  src/app/food/twitter-image.tsx
  src/app/twitter-image.tsx
  src/lib/metadata.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat(og): add Sentry error monitoring to OG image generation
  src/app/food/[id]/opengraph-image.tsx
  src/app/food/twitter-image.tsx
  src/app/layout.tsx
  src/app/twitter-image.tsx
  src/lib/data/og-stats.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat(og): add fallback images and improve OG generation
  public/og-default.png
  public/twitter-default.png
  src/app/food/[id]/opengraph-image.tsx
  src/app/food/opengraph-image.tsx
  src/app/opengraph-image.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat(map): add viewport-based location loading and caching
  next.config.ts
  public/sw.js
  src/components/leaflet/ViewportLocationLoader.tsx
  src/hooks/queries/useViewportLocations.ts
  src/hooks/useDebouncedViewport.ts
  src/lib/map-cache.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

docs: update documentation for shared backend architecture
  CLAUDE.md
  README.md
  docs/01-getting-started/README.md
  docs/context/ARCHITECTURE.md
  docs/context/DEVELOPMENT_GUIDE.md
  docs/context/FOLDER_STRUCTURE.md
  docs/context/WORKFLOWS.md
Due: format
