Repository Foodshareclub/foodshare-web: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, sort-imports

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,css,scss,md,yaml,yml}
  lint: any of: *.{ts,tsx,js,jsx}
  sort-imports: any of: *.{ts,tsx,js,jsx}

feat(ci): implement ghcr docker building, bundle size checks, and strict e2e gates
  .github/workflows/ci-cd.yml
  docker-compose.yml
Due: format

chore(ci): set cancel-in-progress to true for all branches
  .github/workflows/ci-cd.yml
Due: format

feat(ci): merge localization sync into main pipeline and cleanup redundant workflow
  .github/workflows/ci-cd.yml
  .github/workflows/localization-deploy.yml
  package.json
Due: format

feat(ci): finalize enterprise pipeline with casing fix and documentation
  .github/workflows/ci-cd.yml
  GEMINI.md
Due: format

refactor(routing): simplify URL structure to singular top-level routes and consolidate category IDs
  src/app/business/page.tsx
  src/app/food/page.tsx
  src/app/volunteer/page.tsx
  src/app/volunteers/layout.tsx
  src/app/volunteers/page.tsx
  src/components/header/navbar/Navbar.tsx
  src/components/header/navbar/NavbarWrapper.tsx
  src/components/header/navbar/SearchBar.tsx
  src/constants/categories.ts
  src/utils/ROUTES.ts
Due: format, lint, sort-imports

docs: modernize root documentation and architectural guides
  CLAUDE.md
  GEMINI.md
  README.md
  docs/01-getting-started/PROJECT_STRUCTURE.md
  docs/02-development/ARCHITECTURE.md
  docs/04-deployment/DEPLOYMENT_GUIDE.md
Due: format

fix(web): resolve cascading renders in NavbarWrapper and cleanup unused vars
  src/components/header/navbar/NavbarWrapper.tsx
  src/store/zustand/useForumStore.ts
  src/trigger/automation-processor.ts
  src/utils/mockArray.ts
Due: format, lint, sort-imports

chore: align E2E tests with singular routes and refactor logging
  e2e/food-listings.spec.ts
  e2e/home.spec.ts
  src/components/modals/publish-listing/hooks/useListingForm.ts
  src/hooks/useAuth.ts
Due: format, lint, sort-imports

chore(ci): increase e2e timeout and add playwright caching
  .github/workflows/ci-cd.yml
Due: format

chore(ci): increase e2e timeout to 60m and refine cache key
  .github/workflows/ci-cd.yml
Due: format

chore(ci): pre-build Next.js for faster E2E testing
  .github/workflows/ci-cd.yml
  playwright.config.ts
Due: format, lint, sort-imports

fix(e2e): replace networkidle with domcontentloaded to prevent playwright timeouts
  e2e/accessibility.spec.ts
  e2e/auth.spec.ts
  e2e/food-listings.spec.ts
  e2e/home.spec.ts
  e2e/map.spec.ts
  e2e/navigation.spec.ts
Due: format, lint, sort-imports

fix(ci): pass supabase secrets to e2e test runtime
  .github/workflows/ci-cd.yml
Due: format

feat(ci): implement playwright sharding to run e2e tests in parallel and reduce pipeline duration
  .github/workflows/ci-cd.yml
  playwright.config.ts
Due: format, lint, sort-imports

perf(ci): fix playwright cache and add next.js build cache to e2e shards
  .github/workflows/ci-cd.yml
Due: format

feat(ci): implement Build Once strategy and increase Playwright workers to 2 for maximum efficiency
  .github/workflows/ci-cd.yml
  playwright.config.ts
Due: format, lint, sort-imports

fix(docker): use groupadd and useradd for debian-slim compatibility
  Dockerfile
Due: none

ci: add diagnostics to deploy job to debug git error 128
  .github/workflows/ci-cd.yml
Due: format

ci: add directory discovery to deploy job
  .github/workflows/ci-cd.yml
Due: format

ci: add git remote and ssh diagnostics to deploy job
  .github/workflows/ci-cd.yml
Due: format

ci: revert playwright workers to 1 and expand vps directory search
  .github/workflows/ci-cd.yml
  playwright.config.ts
Due: format, lint, sort-imports

ci: fix vps git authentication with token and simplify directory search
  .github/workflows/ci-cd.yml
Due: format

ci: fix docker build platform for arm64 vps
  .github/workflows/ci-cd.yml
Due: format

ci: increase docker build timeout for multi-platform support
  .github/workflows/ci-cd.yml
Due: format

fix: pass correct product type to nearby listings fetcher
  src/app/HomeClient.tsx
Due: format, lint, sort-imports

feat: fetch default search radius from user profile in database
  src/app/HomeClient.tsx
  src/app/food/CategoryPageContent.tsx
  src/app/page.tsx
  src/lib/data/auth.ts
Due: format, lint, sort-imports

fix: resolve type mismatches, plural redirects, and improve server-side logging
  src/app/actions/auth.ts
  src/app/food/CategoryPageContent.tsx
  src/app/food/new/NewProductForm.tsx
  src/app/page.tsx
Due: format, lint, sort-imports

ci: add diagnostics workflow to check self-hosted runner environment
  .github/workflows/diagnostics.yml
Due: format

ci: migrate entire pipeline to self-hosted runner to bypass GitHub minute limits
  .github/workflows/ci-cd.yml
Due: format

ci: optimize timeouts and restore multi-platform docker build for self-hosted runner
  .github/workflows/ci-cd.yml
Due: format

ci: serialize intensive jobs to prevent runner starvation on single VPS
  .github/workflows/ci-cd.yml
Due: format

ci: add 2GB swap and memory limits to prevent OOM on runner
  .github/workflows/ci-cd.yml
Due: format

ci: switch to ubuntu-latest, restore parallel jobs — public repo gets free runners
  .github/workflows/ci-cd.yml
Due: format

ci: move deploy path to GitHub secret for public repo safety
  .github/workflows/ci-cd.yml
Due: format

ci: move hardcoded URLs to GitHub Secrets for public repo
  .github/workflows/ci-cd.yml
  Dockerfile
Due: format

ci: parameterize Caddyfile domain and email with GitHub Secrets
  .github/workflows/ci-cd.yml
  Caddyfile
  docker-compose.yml
Due: format

fix: ensure standard redirect handling for google oauth
  src/app/actions/auth.ts
Due: format, lint, sort-imports

fix: improve CI/CD pipeline and OAuth error handling
  .github/workflows/ci-cd.yml
  .github/workflows/diagnostics.yml
  docs/OAUTH_SETUP.md
  src/app/actions/auth.ts
  src/hooks/useAuth.ts
Due: format, lint, sort-imports

feat: add CI/CD pipeline monitoring script
  scripts/monitor-pipeline.sh
Due: none
