Repository Foodshareclub/foodshare-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, complexity-check, import-check, accessibility-check

lint:
  tags: lint quality
  run: npx eslint {staged_files} --fix --max-warnings=0 --no-warn-ignored --cache --cache-location .eslintcache
  stage_fixed: true
  priority: 2
  skip:
  - name: Skip if only test files changed
    run: git diff --cached --name-only | grep -qvE '\.test\.(ts|tsx|js|jsx)$'

format:
  tags: format quality
  run: npx prettier --write --cache {staged_files}
  stage_fixed: true
  priority: 2

complexity-check:
  tags: quality optional
  run: bash scripts/lefthook/complexity-check.sh {staged_files}
  priority: 3
  skip:
  - name: Skip unless enabled
    run: test -z "$ENABLE_COMPLEXITY" && test -z "$ENABLE_ALL"

import-check:
  tags: quality optional
  run: bash scripts/lefthook/import-check.sh {staged_files}
  priority: 3
  skip:
  - name: Skip unless enabled
    run: test -z "$ENABLE_IMPORT_CHECK" && test -z "$ENABLE_ALL"

accessibility-check:
  tags: accessibility optional
  run: bash scripts/lefthook/accessibility-check.sh {staged_files}
  priority: 4
  skip:
  - name: Skip unless enabled
    run: test -z "$ENABLE_A11Y" && test -z "$ENABLE_ALL"

feat: add new language translations and AI moderation docs
  .kiro/steering/product.md
  CLAUDE.md
  README.md
  docs/02-development/I18N_GUIDE.md
  docs/03-features/admin/AI_MODERATION.md
  docs/04-deployment/ENVIRONMENT_SETUP.md
  docs/05-reference/API_REFERENCE.md
  messages/de.json
  messages/es.json
  messages/fr.json
  messages/id.json
  messages/sv.json
  messages/th.json
  messages/vi.json
  scripts/fetch-location-images.ts
  src/app/api/moderation/analyze/route.ts
  src/app/api/products/route.ts
  src/app/food/[id]/ProductDetailClient.tsx
  src/components/productCard/ProductCard.tsx
  src/i18n/config.ts
  src/lib/data/products.ts
Due: lint, format, complexity-check, import-check, accessibility-check

feat: add category navigation and update translations
  .kiro/steering/product.md
  context/FOLDER_STRUCTURE.md
  docs/02-development/ARCHITECTURE.md
  docs/03-features/map/README.md
  messages/en.json
  messages/ja.json
  messages/ru.json
  messages/zh.json
  scripts/fetch-location-images.ts
  scripts/test-query.ts
  src/app/[category]/page.tsx
  src/app/food/new/NewProductForm.tsx
  src/app/s/[category]/page.tsx
  src/components/header/navbar/Navbar.tsx
  src/components/header/navbar/SearchBar.tsx
  src/components/ui-library/CATEGORY_NAV_GUIDE.md
  src/components/ui-library/CategoryNav.tsx
  src/constants/categories.ts
Due: lint, format, complexity-check, import-check, accessibility-check

refactor: update SearchBar, CategoryNav, and categories
  src/components/header/navbar/SearchBar.tsx
  src/components/ui-library/CategoryNav.tsx
  src/constants/categories.ts
Due: lint, format, complexity-check, import-check, accessibility-check

feat: add JSON-LD structured data and update metadata
  context/FOLDER_STRUCTURE.md
  src/app/chat/page.tsx
  src/app/food/new/page.tsx
  src/app/food/page.tsx
  src/app/s/[category]/page.tsx
  src/components/header/navbar/SearchBar.tsx
  src/lib/jsonld.ts
  src/lib/metadata.ts
Due: lint, format, complexity-check, import-check, accessibility-check

feat: add layouts, update translations, and refactor navigation
  messages/en.json
  messages/ru.json
  messages/zh.json
  src/__tests__/utils.tsx
  src/app/[category]/page.tsx
  src/app/admin/layout.tsx
  src/app/auth/layout.tsx
  src/app/chat/layout.tsx
  src/app/chat/page.tsx
  src/app/food/[id]/page.tsx
  src/app/food/page.tsx
  src/app/forum/[slug]/page.tsx
  src/app/forum/page.tsx
  src/app/help/page.tsx
  src/app/privacy/page.tsx
  src/app/profile/page.tsx
  src/app/s/[category]/page.tsx
  src/app/settings/page.tsx
  src/app/terms/page.tsx
  src/app/user-listings/page.tsx
  src/components/forum/ForumNavbarWrapper.tsx
  src/components/header/navbar/Navbar.tsx
  src/constants/categories.ts
  src/lib/jsonld.ts
  src/utils/ROUTES.ts
  src/utils/categoryMapping.ts
  src/utils/navigationActions.ts
Due: lint, format, complexity-check, import-check, accessibility-check

fix: re-export CATEGORIES from categories.ts
  src/app/food/new/NewProductForm.tsx
  src/app/sitemap.ts
  src/components/ui-library/CategoryNav.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

fix: handle corrupted Supabase auth cookies gracefully
  public/.well-known/apple-app-site-association
  public/.well-known/assetlinks.json
  public/.well-known/security.txt
  public/humans.txt
  public/opensearch.xml
  scripts/fetch-location-images-v2.ts
  src/app/challenge/[id]/page.tsx
  src/app/challenge/page.tsx
  src/app/donation/DonateButton.tsx
  src/app/donation/loading.tsx
  src/app/donation/page.tsx
  src/app/feedback/FeedbackForm.tsx
  src/app/feedback/loading.tsx
  src/app/feedback/page.tsx
  src/app/food/[id]/page.tsx
  src/app/forum/[slug]/page.tsx
  src/app/forum/new/page.tsx
  src/app/help/page.tsx
  src/app/layout.tsx
  src/app/maintenance/page.tsx
  src/app/page.tsx
  src/app/profile/[id]/page.tsx
  src/app/profile/edit/layout.tsx
  src/app/robots.ts
  src/app/s/[category]/page.tsx
  src/app/settings/login-and-security/page.tsx
  src/app/settings/personal-info/page.tsx
  src/components/analytics/GoogleAnalytics.tsx
  src/components/dev/AccessibilityChecker.tsx
  src/lib/jsonld.ts
  src/lib/metadata.ts
  src/lib/supabase/server.ts
  src/utils/webVitals.ts
Due: lint, format, complexity-check, import-check, accessibility-check

fix: add react-hook-form dependency
  context/TECH_STACK.md
  docs/optimization/PERFORMANCE_AUDIT_2025_12.md
  docs/vercel/SUPABASE_AUTH_FIX.md
  package-lock.json
  package.json
  src/components/dev/index.ts
Due: lint, format, complexity-check, import-check

fix: add Google Analytics to CSP headers
  next.config.ts
  src/app/[category]/page.tsx
  src/app/s/[category]/loading.tsx
  src/app/s/[category]/page.tsx
  src/components/header/navbar/Navbar.tsx
  src/components/header/navbar/SearchBar.tsx
  src/components/modals/SearchModal.tsx
  src/components/searchField/SearchField.tsx
  src/utils/ROUTES.ts
Due: lint, format, complexity-check, import-check, accessibility-check

fix: add middleware to auto-clear corrupted Supabase cookies
  src/app/donation/loading.tsx
  src/app/donation/page.tsx
  src/app/feedback/FeedbackForm.tsx
  src/app/feedback/loading.tsx
  src/app/feedback/page.tsx
  src/app/sitemap.ts
  src/middleware.ts
Due: lint, format, complexity-check, import-check, accessibility-check

feat: add Supabase session refresh middleware with cookie validation
  src/middleware.ts
Due: lint, format, complexity-check, import-check

fix: move cookie validation to proxy.ts, remove deprecated middleware.ts
  docs/vercel/SUPABASE_AUTH_FIX.md
  src/middleware.ts
  src/proxy.ts
Due: lint, format, complexity-check, import-check

fix: add missing closing div in donation loading.tsx
  docs/optimization/PERFORMANCE_AUDIT_2025_12.md
  src/app/donation/loading.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

fix: add navbar to donation and feedback pages
  src/app/donation/layout.tsx
  src/app/feedback/layout.tsx
  src/components/navigation/SimpleNavbarWrapper.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

refactor: use generalized NavbarWrapper instead of duplicate
  docs/03-features/navbar/README.md
  src/app/donation/layout.tsx
  src/app/feedback/layout.tsx
  src/components/forum/ForumNavbarWrapper.tsx
  src/components/navigation/SimpleNavbarWrapper.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

fix: handle corrupted Supabase cookies gracefully
  .kiro/specs/COMPLETION_STATUS.md
  .kiro/specs/README.md
  .kiro/specs/ROADMAP.md
  .kiro/steering/architecture.md
  .kiro/steering/migration-status.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  docs/03-features/navbar/README.md
  package-lock.json
  package.json
  src/app/challenge/ChallengesClient.tsx
  src/app/challenge/[id]/ChallengeDetailClient.tsx
  src/app/challenge/layout.tsx
  src/app/chat/layout.tsx
  src/app/chat/page.tsx
  src/app/donation/layout.tsx
  src/app/feedback/layout.tsx
  src/app/food/layout.tsx
  src/app/forum/layout.tsx
  src/app/help/layout.tsx
  src/app/privacy/layout.tsx
  src/app/profile/layout.tsx
  src/app/terms/layout.tsx
  src/app/user-listings/layout.tsx
  src/app/user-listings/page.tsx
  src/components/forum/ForumNavbarWrapper.tsx
  src/components/header/navbar/NavbarWrapper.tsx
  src/components/header/navbar/README.md
  src/lib/data/forum.ts
  src/lib/supabase/client.ts
  src/proxy.ts
Due: lint, format, complexity-check, import-check, accessibility-check

feat: add OG images, placeholders, and various improvements
  docs/02-development/ARCHITECTURE.md
  docs/03-features/README.md
  docs/03-features/navbar/README.md
  docs/05-reference/API_REFERENCE.md
  docs/optimization/PERFORMANCE_AUDIT_2025_12.md
  public/placeholders/foodbank.jpg
  public/placeholders/fridge.jpg
  scripts/fetch-location-images-v2.ts
  scripts/generate-placeholder.ts
  src/app/HomeClient.tsx
  src/app/actions/auth.ts
  src/app/api/health/route.ts
  src/app/challenge/layout.tsx
  src/app/chat/layout.tsx
  src/app/donation/layout.tsx
  src/app/feedback/layout.tsx
  src/app/food/[id]/ProductDetailClient.tsx
  src/app/food/[id]/opengraph-image.tsx
  src/app/food/[id]/twitter-image.tsx
  src/app/food/layout.tsx
  src/app/forum/layout.tsx
  src/app/help/layout.tsx
  src/app/layout.tsx
  src/app/opengraph-image.tsx
  src/app/privacy/layout.tsx
  src/app/profile/layout.tsx
  src/app/settings/layout.tsx
  src/app/terms/layout.tsx
  src/app/twitter-image.tsx
  src/app/user-listings/layout.tsx
  src/components/forum/ForumPageClient.tsx
  src/components/header/Header.tsx
  src/components/header/ProfileSettings.tsx
  src/components/header/navbar/NavbarWrapper.tsx
  src/components/header/navbar/README.md
  src/components/header/navbar/atoms/Avatar.tsx
  src/components/maintenance/MaintenanceBanner.tsx
  src/constants/storage.ts
  src/hooks/queries/useProfileQueries.ts
  src/lib/og-image.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

fix: define twitter-image config directly instead of re-exporting
  docs/03-features/navbar/README.md
  src/app/food/[id]/twitter-image.tsx
  src/app/food/layout.tsx
  src/app/forum/layout.tsx
  src/app/profile/layout.tsx
  src/app/user-listings/layout.tsx
  src/components/header/navbar/README.md
Due: lint, format, complexity-check, import-check, accessibility-check

fix: remove unused user prop from HomeClient
  src/app/[category]/page.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

fix: remove unused user prop from all HomeClient usages
  docs/05-reference/API_REFERENCE.md
  docs/vercel/AUTH_FLOW_DIAGRAM.md
  src/app/food/page.tsx
  src/app/page.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

feat: add image compression function and update product queries
  context/CACHING.md
  docs/05-reference/API_REFERENCE.md
  src/app/[category]/page.tsx
  src/app/api/products/route.ts
  src/hooks/queries/useProductQueries.ts
  src/lib/data/products.ts
  supabase/functions/compress-images/index.ts
  supabase/functions/resize-tinify-upload-image/index.ts
Due: lint, format, complexity-check, import-check, accessibility-check

fix: use correct CACHE_DURATIONS property in products route
  src/app/api/products/route.ts
  supabase/functions/resize-tinify-upload-image/index.ts
Due: lint, format, complexity-check, import-check

fix: chat page layout - prevent footer overlap with proper height constraints
  src/app/chat/ChatPageClient.tsx
  src/app/globals.css
Due: lint, format, complexity-check, import-check, accessibility-check

fix: chat page scrolling - sections no longer stretch below viewport
  docs/03-features/chat/README.md
  src/app/chat/ChatPageClient.tsx
  src/app/chat/layout.tsx
  src/app/globals.css
Due: lint, format, complexity-check, import-check, accessibility-check

fix: correct navbar height calculation for chat page (170px spacer)
  src/app/globals.css
Due: format

fix: add missing foodSharing translation key to en.json
  docs/prompts/prompts.md
  messages/en.json
Due: format

feat: improve chat system with theme-aware styling and profile menu access
  docs/03-features/chat/README.md
  docs/prompts/prompts.md
  src/app/chat/ChatPageClient.tsx
  src/components/chat/UnifiedChatContainer.tsx
  src/components/chat/UnifiedChatList.tsx
  src/components/header/navbar/organisms/DesktopMenu.tsx
  src/components/header/navbar/organisms/MobileMenu.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

fix: remove server component from barrel file to fix build
  src/components/index.ts
Due: lint, format, complexity-check, import-check

feat(security): add Next.js/React/Vercel vulnerability checks to lefthook
  lefthook.yml
  scripts/lefthook/src/checks/mod.rs
  scripts/lefthook/src/checks/nextjs_security.rs
  scripts/lefthook/src/checks/pre_commit.rs
  scripts/lefthook/src/main.rs
Due: none

fix(security): enhance Next.js security check with FoodShare patterns
  scripts/lefthook/src/checks/nextjs_security.rs
Due: none

fix: remove unused import in nextjs_security check
  .eslintcache
  scripts/lefthook/src/checks/nextjs_security.rs
Due: none

feat: add advanced OWASP security scanner to lefthook
  scripts/lefthook/src/checks/nextjs_security.rs
Due: none

docs: update lefthook README with OWASP security scanner
  scripts/lefthook/README.md
Due: format

feat: add comprehensive security checks to lefthook
  scripts/lefthook/src/checks/nextjs_security.rs
Due: none

docs: add OWASP security coverage table to lefthook README
  scripts/lefthook/README.md
Due: format

feat: enable auto-fix on fly for lefthook pre-commit
  lefthook.yml
Due: none

feat: add formatDate utility function
  src/lib/utils.ts
Due: lint, format, complexity-check, import-check

Path conditions:
  lint: any of: *.{ts,tsx,js,jsx}
  format: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  complexity-check: any of: *.{ts,tsx,js,jsx}
  import-check: any of: *.{ts,tsx,js,jsx}
  accessibility-check: any of: *.{tsx,jsx}
