Repository Foodshareclub/foodshare-web: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,css,scss,md,yaml,yml}
  lint: any of: *.{ts,tsx,js,jsx}
  nextjs-security: any of: *.{ts,tsx,js,jsx,json}
  complexity-check: any of: *.{ts,tsx,js,jsx}
  sort-imports: any of: *.{ts,tsx,js,jsx}
  import-check: any of: *.{ts,tsx,js,jsx}
  no-console: any of: *.{ts,tsx,js,jsx}
  accessibility: any of: *.{tsx,jsx}

chore: autofix formatting and lint updates
  docs/02-development/PERFORMANCE_GUIDE.md
  docs/03-features/map/README.md
  src/app/HomeClient.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

refactor: update settings pages and navbar wrapper
  src/app/settings/SettingsClient.tsx
  src/app/settings/loading.tsx
  src/app/settings/login-and-security/LoginSecurityClient.tsx
  src/app/settings/login-and-security/page.tsx
  src/app/settings/page.tsx
  src/app/settings/personal-info/PersonalInfoClient.tsx
  src/app/settings/personal-info/page.tsx
  src/components/header/navbar/NavbarWrapper.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat: add email content editor and update settings components
  docs/03-features/email/README.md
  src/api/storageAPI.ts
  src/app/settings/SettingsClient.tsx
  src/app/settings/loading.tsx
  src/app/settings/page.tsx
  src/components/admin/email/EmailCRMDashboard.tsx
  src/components/admin/email/EmailContentEditor.tsx
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

refactor: update storage API
  src/api/storageAPI.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

chore: format storage API
  src/api/storageAPI.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat: add R2 storage integration and update storage configuration
  context/TECH_STACK.md
  docs/03-features/storage/README.md
  docs/04-deployment/ENVIRONMENT_SETUP.md
  docs/storages/storages.md
  src/api/storageAPI.ts
  src/components/modals/publish-listing/constants.ts
  src/components/modals/publish-listing/hooks/useImageUpload.ts
  src/components/modals/publish-listing/utils.ts
  src/constants/storage.ts
  src/lib/r2/client.ts
  src/lib/r2/index.ts
  src/lib/r2/vault.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat: add storage server actions and update documentation
  docs/03-features/storage/README.md
  docs/03-features/storage/STORAGE_QUICK_REFERENCE.md
  docs/storages/storages.md
  src/api/storageAPI.ts
  src/app/actions/storage.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(storage): allow direct client-side uploads
  commands/add-dmarc.ts
  commands/analyze-cf-dns.ts
  commands/check-resend-dns.ts
  commands/check-ses-dkim.ts
  commands/debug-env.ts
  commands/delete-stale-dkim.ts
  src/api/storageAPI.ts
  src/app/actions/storage.ts
  src/lib/r2/client.ts
  src/lib/r2/index.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(storage): use admin client for signed urls to bypass RLS
  src/app/actions/storage.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(csp): add r2 domain to connect-src and img-src
  next.config.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat: add MailerSend provider and improve upload utilities
  package-lock.json
  package.json
  src/api/storageAPI.ts
  src/app/actions/storage.ts
  src/components/admin/EmailCRMClient.tsx
  src/components/admin/EmailSendingHistory.tsx
  src/components/admin/email/EmailCRMDashboard.tsx
  src/lib/data/admin-email.ts
  src/lib/email/constants.ts
  src/lib/email/providers/mailersend.ts
  src/lib/email/types.ts
  src/lib/email/unified-service.ts
  src/lib/upload/index.ts
  src/lib/upload/robust-upload.ts
  supabase/migrations/20251215_add_mailersend_provider.sql
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat(email): integrate MailerSend provider into CRM panel
  src/components/admin/EmailCRMClient.tsx
  src/lib/data/admin-email.ts
  src/lib/email/unified-service.ts
  src/lib/email/vault.ts
  supabase/functions/_shared/email/email-service.ts
  supabase/functions/_shared/email/index.ts
  supabase/functions/_shared/email/mailersend-provider.ts
  supabase/functions/_shared/email/types.ts
  supabase/functions/email/index.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(validation): make post_address optional in createProduct
  src/app/actions/products.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(products): handle null FormData values in createProduct validation
  src/app/actions/products.ts
  supabase/migrations/20251215_create_get_secrets_function.sql
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(storage): use service role key and clean up imports
  src/app/actions/storage.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

refactor(email): migrate admin email management to Server Actions pattern
  scripts/test-mailersend.ts
  src/api/admin/emailManagement.ts
  src/app/actions/admin-email.ts
  src/app/actions/profile.ts
  src/app/api/admin/email/logs/route.ts
  src/app/api/admin/email/queue/route.ts
  src/app/api/admin/email/quotas/route.ts
  src/app/api/admin/email/stats/route.ts
  src/app/api/products/route.ts
  src/components/admin/EmailQuotaDashboard.tsx
  src/components/admin/EmailSendingHistory.tsx
  src/components/admin/ManualEmailSender.tsx
  src/components/admin/ProviderHealthMonitor.tsx
  src/components/modals/PublishListingModal.tsx
  src/components/modals/publish-listing/hooks/useListingForm.ts
  src/hooks/useEmailManagement.ts
  src/hooks/useOptimizedSearch.ts
  src/lib/data/admin-email.ts
  src/lib/data/cache-keys.ts
  src/lib/data/maps.ts
  src/lib/data/products.ts
  src/lib/email/type-guards.ts
  src/lib/email/unified-service.ts
  src/utils/postgis.ts
  supabase/migrations/20251215_auto_create_address_on_signup.sql
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

chore: update dependencies and add global error boundary
  bun.lock
  next.config.ts
  package-lock.json
  package.json
  src/app/(routes)/notifications/page.tsx
  src/app/chat/page.tsx
  src/app/food/new/page.tsx
  src/app/global-error.tsx
  src/app/my-posts/page.tsx
  src/app/profile/page.tsx
  src/lib/analytics/motherduck.ts
  src/lib/data/admin-email.ts
  vercel.json
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(build): add Turbopack duckdb stub to fix Vercel build
  lib/duckdb-stub.js
  next.config.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(build): use webpack for production builds to fix DuckDB native module issue
  package.json
Due: format, nextjs-security

fix(build): use Turbopack with forced clean install for DuckDB patch
  next.config.ts
  package.json
  vercel.json
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(build): use webpack for production until Turbopack cache issue is resolved
  package.json
Due: format, nextjs-security

fix(build): explicitly run patch-package after bun install for Turbopack
  package.json
  vercel.json
Due: format, nextjs-security

fix(build): directly patch duckdb package.json with node script
  vercel.json
Due: format, nextjs-security

fix(vercel): force fresh build to bypass Turbopack cache
  vercel.json
Due: format, nextjs-security

debug: switch to npm install to verify patch application
  vercel.json
Due: format, nextjs-security

fix(vercel): use bun install with explicit patch-package for Turbopack
  vercel.json
Due: format, nextjs-security

fix(vercel): use npm install for Turbopack compatibility
  vercel.json
Due: format, nextjs-security

feat(email): add monthly quota limit tracking
  src/lib/data/admin-email.ts
  supabase/migrations/20251216_add_monthly_limit_to_quota.sql
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(email): calculate monthly limit from database instead of hardcoded value
  src/lib/data/admin-email.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat(email): convert admin email page to dynamic API fetching with React Query
  src/app/admin/email/page.tsx
  src/app/api/admin/email/automations/route.ts
  src/app/api/admin/email/bounces/route.ts
  src/app/api/admin/email/campaigns/route.ts
  src/app/api/admin/email/health/route.ts
  src/app/api/admin/email/segments/route.ts
  src/app/providers.tsx
  src/hooks/queries/useEmailCRM.ts
  src/lib/data/admin-email.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

feat(email): add distributed workers with QStash and Redis
  docs/EMAIL_WORKERS_SETUP.md
  src/app/api/email/worker/health-monitor/route.ts
  src/app/api/email/worker/queue-processor/route.ts
  src/lib/email/redis-cache.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(email): handle undefined data in admin email page
  src/app/admin/email/page.tsx
  src/app/api/email/worker/queue-processor/route.ts
  src/components/admin/analytics/AnalyticsDashboard.tsx
  src/components/modals/AuthenticationUser/AuthenticationUserModal.tsx
  src/components/modals/publish-listing/components/VoiceInput.tsx
  src/lib/data/admin-email.ts
  src/lib/email/redis-cache.ts
  src/lib/errors.ts
  src/types/web-apis.types.ts
  src/utils/performanceMonitor.ts
  src/utils/realTimeMonitor.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console, accessibility

fix(email): lazy init Redis and QStash to fix Vercel build
  src/app/api/email/worker/health-monitor/route.ts
  src/app/api/email/worker/queue-processor/route.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(email): use createCachedClient for unstable_cache functions
  src/lib/data/admin-email.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix(db): allow post deletion with activity logging
  supabase/migrations/20251216_fix_post_activity_logs_fk.sql
Due: none

fix(email): use correct data layer functions for stats and quotas API
  src/app/api/admin/email/quotas/route.ts
  src/app/api/admin/email/stats/route.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat(geocoding): implement robust queue-based geocoding system
  GEOCODING_DEPLOYMENT_GUIDE.md
  supabase/functions/update-post-coordinates/README.md
  supabase/functions/update-post-coordinates/index.ts
  supabase/migrations/20251215_comprehensive_geocoding_system.sql
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

feat(posts): implement soft delete and fix category mappings
  src/app/actions/products.ts
  src/components/modals/publish-listing/constants.ts
  src/utils/categoryMapping.ts
  supabase/migrations/20251216_add_posts_update_policy.sql
  supabase/migrations/20251216_fix_post_activity_logs_fk.sql
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console

fix: lazy load Supabase config to prevent build-time errors
  src/lib/supabase/server.ts
Due: format, lint, nextjs-security, complexity-check, sort-imports, import-check, no-console
