Repository Foodshareclub/foodshare-web: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, complexity-check, import-check, accessibility-check

Path conditions:
  lint: any of: *.{ts,tsx,js,jsx}
  format: any of: *.{ts,tsx,js,jsx,json,css,scss,md}
  complexity-check: any of: *.{ts,tsx,js,jsx}
  import-check: any of: *.{ts,tsx,js,jsx}
  accessibility-check: any of: *.{tsx,jsx}

fix: update test mocks and exclude test files from security scan
  .eslintcache
  docs/03-features/authentication/README.md
  scripts/lefthook/src/checks/nextjs_security.rs
  scripts/lefthook/src/checks/security.rs
  src/__tests__/actions/auth.test.ts
  src/__tests__/actions/products.test.ts
  src/hooks/queries/useAuthQueries.test.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

feat: enable auto-fix by default for format, lint, and import sorting
  lefthook.yml
Due: none

chore: clean up gitignore - remove old scripts/lefthook/target/ entry
  .gitignore
Due: none

fix: rename middleware.ts to proxy.ts for Next.js 16
  .eslintcache
  docs/03-features/admin/README.md
  docs/05-reference/API_REFERENCE.md
  src/app/actions/crm.ts
  src/app/admin/AdminDashboardClient.tsx
  src/app/admin/crm/CRMDashboardClient.tsx
  src/app/admin/crm/page.tsx
  src/proxy.ts
Due: lint, format, complexity-check, import-check, accessibility-check

docs: update architecture to reference proxy instead of middleware
  .kiro/steering/architecture.md
Due: format

fix: rename middleware export to proxy for Next.js 16
  src/proxy.ts
Due: lint, format, complexity-check, import-check

refactor(admin): consolidate admin and CRM into unified dashboard
  src/app/admin/AdminDashboardClient.tsx
  src/app/admin/AdminUnifiedClient.tsx
  src/app/admin/crm/CRMDashboardClient.tsx
  src/app/admin/crm/page.tsx
  src/app/admin/page.tsx
  src/components/header/navbar/organisms/DesktopMenu.tsx
  src/components/header/navbar/organisms/MobileMenu.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

fix(nav): use proper admin check for navbar dropdown
  docs/05-reference/API_REFERENCE.md
  src/app/layout.tsx
  src/components/header/navbar/NavbarWrapper.tsx
  src/components/header/navbar/README.md
Due: lint, format, complexity-check, import-check, accessibility-check

chore: autofix formatting and lint fixes
  .eslintcache
  docs/02-development/ARCHITECTURE.md
  docs/02-development/DATABASE_SCHEMA.md
  docs/03-features/admin/USER_MANAGEMENT.md
  docs/03-features/authentication/README.md
  docs/03-features/navbar/README.md
  docs/05-reference/API_REFERENCE.md
  src/__tests__/actions/auth.test.ts
  src/api/profileAPI.ts
  src/app/actions/admin.ts
  src/app/actions/auth.ts
  src/app/actions/forum.ts
  src/app/actions/reports.ts
  src/app/food/new/NewProductForm.tsx
  src/app/profile/[id]/ViewProfileClient.tsx
  src/components/admin/AdminUsersClient.tsx
  src/components/header/navbar/NavbarWrapper.tsx
  src/components/volunteerCard/OneVolunteer.tsx
  src/lib/data/admin-listings.ts
  src/lib/data/admin-users.ts
  src/lib/data/auth.ts
  src/lib/data/profiles.ts
  src/lib/security/mfa.ts
  src/lib/supabase/safe-auth.ts
  src/proxy.ts
  src/store/zustand/useChatStore.test.ts
  supabase/functions/notify-new-user/index.ts
Due: lint, format, complexity-check, import-check, accessibility-check

fix: align AuthUser types between data layer and actions
  docs/05-reference/API_REFERENCE.md
  src/app/actions/auth.ts
  src/lib/data/auth.ts
Due: lint, format, complexity-check, import-check

chore: autofix formatting
  src/app/admin/page.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

chore: update admin docs and CRM data layer
  docs/03-features/admin/README.md
  src/app/admin/page.tsx
  src/lib/data/crm.ts
Due: lint, format, complexity-check, import-check, accessibility-check

chore: update admin and CRM data functions
  src/lib/data/admin.ts
  src/lib/data/crm.ts
Due: lint, format, complexity-check, import-check

chore: update API references, docs, and data layer functions
  context/API_REFERENCE.md
  context/DATABASE_SCHEMA.md
  docs/02-development/TESTING_GUIDE.md
  docs/05-reference/API_REFERENCE.md
  src/api/campaignAPI.ts
  src/api/crmAPI.ts
  src/api/notifications/emailNotifications.ts
  src/api/segmentBuilderAPI.ts
  src/app/actions/feedback.ts
  src/lib/data/admin.ts
  src/lib/data/crm.ts
Due: lint, format, complexity-check, import-check

chore: update database schema docs and fix API type errors
  docs/02-development/DATABASE_SCHEMA.md
  docs/prompts/prompts.md
  src/api/adminAPI.ts
  src/api/notifications/emailNotifications.ts
Due: lint, format, complexity-check, import-check

chore: autofix formatting across actions and data layer
  docs/05-reference/API_REFERENCE.md
  src/app/actions/admin.ts
  src/app/actions/auth.ts
  src/app/actions/forum.ts
  src/app/actions/reports.ts
  src/lib/data/admin-listings.ts
  src/lib/data/auth.ts
  src/lib/data/profiles.ts
  src/lib/security/mfa.ts
  src/lib/supabase/safe-auth.ts
  src/proxy.ts
Due: lint, format, complexity-check, import-check

docs: update role system documentation to use user_roles table
  .eslintcache
  context/CACHING.md
  context/REFACTORING_TASKS.md
  docs/02-development/ARCHITECTURE.md
  docs/02-development/DATABASE_SCHEMA.md
  docs/03-features/admin/USER_MANAGEMENT.md
  docs/03-features/authentication/README.md
  docs/05-reference/API_REFERENCE.md
  src/__tests__/actions/auth.test.ts
  src/api/profileAPI.ts
  src/app/actions/admin-listings.ts
  src/app/actions/admin.ts
  src/app/food/new/NewProductForm.tsx
  src/app/food/new/page.tsx
  src/app/profile/[id]/ViewProfileClient.tsx
  src/app/profile/[id]/page.tsx
  src/components/admin/AdminUsersClient.tsx
  src/components/admin/UserRolesModal.tsx
  src/components/header/navbar/NavbarWrapper.tsx
  src/components/volunteerCard/OneVolunteer.tsx
  src/lib/data/admin-listings.ts
  src/lib/data/admin-users.ts
  src/lib/data/auth.ts
  src/lib/data/profiles.ts
  src/store/zustand/useChatStore.test.ts
  supabase/functions/notify-new-user/index.ts
Due: lint, format, complexity-check, import-check, accessibility-check

fix: correct prop destructuring in AdminUsersClient
  src/components/admin/AdminUsersClient.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

fix: correct type assertion for user_roles in admin-users.ts
  src/lib/data/admin-users.ts
Due: lint, format, complexity-check, import-check

fix: correct type assertion for roles in auth.ts
  src/lib/data/auth.ts
Due: lint, format, complexity-check, import-check

fix: correct type assertion for roles in profiles.ts
  src/lib/data/profiles.ts
Due: lint, format, complexity-check, import-check

refactor(db): migrate role functions to use user_roles table
  context/REFACTORING_TASKS.md
Due: format

fix(sitemap): use posts table instead of non-existent products table
  src/app/sitemap.ts
Due: lint, format, complexity-check, import-check

refactor(auth): remove unused jsonbRoles from checkIsAdmin
  .eslintcache
  context/REFACTORING_TASKS.md
  docs/02-development/DATABASE_SCHEMA.md
  docs/03-features/authentication/README.md
  docs/05-reference/API_REFERENCE.md
  src/lib/data/auth.ts
Due: lint, format, complexity-check, import-check

fix: remove hardcoded role_id values, use role names instead
  .eslintcache
  src/api/profileAPI.ts
  src/lib/data/admin-users.ts
Due: lint, format, complexity-check, import-check

fix(db): migrate notify_new_feedback to use user_roles table
  .eslintcache
  context/REFACTORING_TASKS.md
Due: format

fix(admin): remove invalid re-exports from server action file
  src/app/actions/admin.ts
  src/app/admin/AdminUnifiedClient.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

fix(admin): separate data fetching from JSX to satisfy lint rules
  src/app/admin/page.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

fix(admin): remove unstable_cache from functions using cookies()
  src/lib/data/admin.ts
  src/lib/data/crm.ts
Due: lint, format, complexity-check, import-check

fix(admin): correct database column names in admin listings
  .eslintcache
  context/CACHING.md
  context/REFACTORING_TASKS.md
  docs/03-features/admin/README.md
  docs/03-features/email/README.md
  src/app/actions/admin-listings.ts
  src/app/actions/email.ts
  src/app/admin/AdminUnifiedClient.tsx
  src/app/admin/ai-insights/page.tsx
  src/app/admin/email/page.tsx
  src/app/admin/layout.tsx
  src/app/admin/listings/page.tsx
  src/app/admin/reports/page.tsx
  src/app/admin/users/page.tsx
  src/components/admin/AIInsightsClient.tsx
  src/components/admin/AdminBreadcrumb.tsx
  src/components/admin/AdminListingsClient.tsx
  src/components/admin/AdminReportsClient.tsx
  src/components/admin/AdminSidebar.tsx
  src/components/admin/EmailCRMClient.tsx
  src/components/admin/ListingEditModal.tsx
  src/lib/data/admin-ai-insights.ts
  src/lib/data/admin-listings.ts
  src/lib/data/admin-reports.ts
Due: lint, format, complexity-check, import-check, accessibility-check

fix(admin): correct database column names and type errors in admin panel
  .eslintcache
  src/components/admin/EmailCRMClient.tsx
Due: lint, format, complexity-check, import-check, accessibility-check

fix(admin): fix type errors in EmailCRMClient and admin-reports
  src/lib/data/admin-reports.ts
Due: lint, format, complexity-check, import-check

feat(email): add unified email service with multi-provider support
  .eslintcache
  docs/03-features/email/README.md
  docs/04-deployment/ENVIRONMENT_SETUP.md
  src/app/actions/email.ts
  src/components/admin/EmailCRMClient.tsx
  src/lib/email/constants.ts
  src/lib/email/index.ts
  src/lib/email/test-providers.ts
  src/lib/email/types.ts
  src/lib/email/unified-service.ts
  supabase/functions/monitor-email-health/index.ts
  supabase/functions/process-email-queue/index.ts
  supabase/functions/smart-email-route/index.ts
Due: lint, format, complexity-check, import-check, accessibility-check

refactor(email): use Supabase Vault for secrets, fix async createEmailService
  .eslintcache
  .kiro/specs/codebase-improvement/design.md
  docs/02-development/DATABASE_SCHEMA.md
  docs/03-features/email/README.md
  docs/04-deployment/ENVIRONMENT_SETUP.md
  docs/05-reference/API_REFERENCE.md
  src/api/admin/emailHealth.ts
  src/api/notifications/emailNotifications.ts
  src/app/actions/admin-listings.ts
  src/app/actions/admin.ts
  src/app/actions/email.ts
  src/lib/data/admin-auth.ts
  src/lib/email/circuit-breaker-db.ts
  src/lib/email/circuit-breaker.ts
  src/lib/email/enhanced-service.ts
  src/lib/email/index.ts
  src/lib/email/test-providers.ts
  src/lib/email/unified-service.ts
  src/lib/email/vault.ts
Due: lint, format, complexity-check, import-check

test(auth): fix checkIsAdmin mock to return array for user_roles
  src/__tests__/actions/auth.test.ts
Due: lint, format, complexity-check, import-check

chore: cleanup unused imports and update context docs
  .eslintcache
  context/API_REFERENCE.md
  context/CACHING.md
  context/FEATURES.md
  context/REFACTORING_TASKS.md
  src/api/adminAPI.ts
  src/api/index.ts
  src/app/actions/auth.ts
  src/lib/data/admin-listings.ts
  src/lib/data/admin-reports.ts
  src/lib/data/auth.ts
  src/lib/data/cache-keys.ts
  src/lib/data/index.ts
  src/lib/supabase/safe-auth.ts
Due: lint, format, complexity-check, import-check

refactor(admin): consolidate email monitoring and fix lint errors
  .eslintcache
  context/REFACTORING_TASKS.md
  docs/03-features/email/README.md
  docs/05-reference/API_REFERENCE.md
  src/api/admin/emailManagementOptimized.ts
  src/api/admin/grokInsights.ts
  src/app/actions/admin-insights.ts
  src/app/actions/feedback.ts
  src/app/admin/email/monitor/EmailMonitorClient.tsx
  src/app/admin/email/monitor/page.tsx
  src/app/admin/email/test/page.tsx
  src/components/admin/EmailSendingHistory.tsx
  src/components/admin/GrokAssistant.tsx
  src/components/admin/ManualEmailSender.tsx
  src/components/admin/ProviderHealthMonitor.tsx
  src/hooks/queries/README.md
  src/hooks/queries/index.ts
  src/hooks/queries/useAdminQueries.ts
  src/lib/data/admin-email.ts
  src/lib/data/admin-insights.ts
  src/lib/data/index.ts
  supabase/functions/domain-monitor/index.ts
Due: lint, format, complexity-check, import-check, accessibility-check
