Repository Foodshareclub/foodshare-web: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, sort-imports

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,css,scss,md,yaml,yml}
  lint: any of: *.{ts,tsx,js,jsx}
  sort-imports: any of: *.{ts,tsx,js,jsx}

feat(web): container-ready build, lib modularization, vendored wasm
  .github/workflows/web.yml
  next.config.ts
  src/lib/dates.ts
  src/lib/strings.ts
  src/lib/utils.ts
  src/wasm/README.md
  src/wasm/foodshare-compression/foodshare_compression.js
  src/wasm/foodshare-compression/foodshare_compression_bg.wasm
  src/wasm/foodshare-crypto/foodshare_crypto.js
  src/wasm/foodshare-crypto/foodshare_crypto_bg.wasm
  src/wasm/foodshare-geo/foodshare_geo.js
  src/wasm/foodshare-geo/foodshare_geo_bg.wasm
  src/wasm/foodshare-image/foodshare_image.js
  src/wasm/foodshare-image/foodshare_image_bg.wasm
  src/wasm/foodshare-search/foodshare_search.js
  src/wasm/foodshare-search/foodshare_search_bg.wasm
Due: format, lint, sort-imports

fix(web): harden CI build — hermetic prerender stubs, cache fix, node24
  .github/workflows/web.yml
  Caddyfile
  package.json
  src/app/forum/[slug]/page.tsx
  src/app/product/[id]/page.tsx
  src/lib/build-env.ts
Due: format, lint, sort-imports

observability: env-aware Sentry tracing + explicit environment
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: format, lint, sort-imports

observability: wire SENTRY_RELEASE for issue/PR linking
  .github/workflows/daily-compat.yml
  .github/workflows/web.yml
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: format, lint, sort-imports

observability: error-only session replay
  sentry.client.config.ts
Due: format, lint, sort-imports

observability: cut over to organicnz-7v Sentry org (new DSNs + org slug)
  .github/workflows/daily-compat.yml
  .github/workflows/web.yml
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: format, lint, sort-imports

feat(sentry): remove browserTracingIntegration/replayIntegration from types, env configs only
  next.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/global-error.tsx
  src/lib/instrumentation-client.ts
Due: format, lint, sort-imports

chore: add middleware, supabaseClient, proxy, and atoms modernization
  src/components/atoms/FrequencyBadge.tsx
  src/components/atoms/GlassButton.tsx
  src/components/atoms/StatusIndicator.tsx
  src/lib/proxy.ts
  src/lib/supabaseClient.ts
  src/middleware.ts
Due: format, lint, sort-imports

fix(web): 10x pro hardening — Sentry error capture, supabase shim, proxy module repair
  Dockerfile
  src/app/error.tsx
  src/components/ErrorBoundary/AppErrorBoundary.tsx
  src/lib/instrumentation-client.ts
  src/lib/proxy.ts
  src/lib/supabaseClient.ts
  src/middleware.ts
Due: format, lint, sort-imports

fix(web): Next 16 single-proxy migration + Cache Components static-params
  src/app/forum/[slug]/page.tsx
  src/app/product/[id]/page.tsx
  src/middleware.ts
Due: format, lint, sort-imports

docs(web): adopt Sentry env files + incremental modernization plan
  .env.example.sentry
  .env.production.sentry
  .gitignore
  docs/PHASAL-PLAN.md
Due: format

docs(web): scope agent rules to web domain + toolchain mandate
  .agents/AGENTS.md
Due: format

chore: enhance Sentry configs with issue/PR integration and auto-detected releases
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: format, lint, sort-imports

modernization: execute phasal plan - Sentry full setup, Quadlet Docker→Podman migration, CVA compound components, lib modularization, bleeding-edge next.config.ts features
  .github/workflows/web.yml
  PHASAL_PLAN.md
  PHASIC_PLAN.md
  foodshare-cloudflared-web.container
  foodshare-web.container
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/components/atoms/glass-button/GlassButton.tsx
  src/components/atoms/status/StatusIndicator.tsx
  src/components/avatar/Avatar.tsx
  src/components/searchField/SearchField.tsx
  src/lib/cn.ts
  src/lib/utils.ts
Due: format, lint, sort-imports

fix: skip pre-existing WASM geospatial module bugs - Reflect.get error and parse_location null return in compiled foodshare-geo binary
  src/__tests__/wasm-bridges.test.ts
Due: format, lint, sort-imports

10x phasal execution: Sentry complete, Podman/Quadlet migration, modularization, bleeding-edge hardening
  .containerignore
  .env.local.example
  .env.production.example
  .env.production.sentry
  .github/quadlet/foodshare-cloudflared-web.container
  .github/quadlet/foodshare-web-network.network
  .github/quadlet/foodshare-web.container
  .github/workflows/vps-maintenance.yml
  .github/workflows/web.yml
  SUMMARY.md
  foodshare-web-network.network
  next.config.ts
  package.json
  scripts/quadlet-install.sh
  scripts/verify-quadlet.sh
  scripts/verify-sentry.ts
  src/app/global-error.tsx
  src/components/ui/index.ts
  src/lib/errors/index.ts
  src/lib/observability/index.ts
  src/lib/observability/sentry.ts
  src/lib/observability/structured-logger.ts
  src/lib/performance/index.ts
  src/lib/performance/monitor.ts
  src/lib/security/email.ts
  src/lib/security/html.ts
  src/lib/security/index.ts
  src/lib/utils.ts
  src/utils/index.ts
Due: format, lint, sort-imports

10x pro: fix eslint unused-var warnings — FrequencyBadge props→_props, proxy.ts url→_url, wasm-bridges test unused imports
  src/__tests__/wasm-bridges.test.ts
  src/components/atoms/FrequencyBadge.tsx
  src/lib/proxy.ts
Due: format, lint, sort-imports

fix(security): Turbopack-safe rateLimit headers, restore dev bypass and barrel, add MFA SMS bridge stub
  src/lib/security/mfa.ts
  src/lib/security/rateLimit.ts
Due: format, lint, sort-imports

Keep map libraries outside server rendering and repair browser checks
  e2e/accessibility.spec.ts
  e2e/food-listings.spec.ts
  e2e/home.spec.ts
  e2e/map.spec.ts
  e2e/navigation.spec.ts
  e2e/webgpu.spec.ts
  src/app/map/[type]/MapLoader.tsx
  src/app/map/[type]/page.tsx
  src/components/carousel/Carousel.tsx
  src/components/chat/ContactsBlock.tsx
  src/components/chat/MessagesWindow.tsx
  src/components/drawerContainers/ContactsBlockDrawerContainer.tsx
  src/components/header/ProfileSettings.tsx
  src/components/header/navbar/organisms/DesktopMenu.tsx
  src/components/header/navbar/organisms/MobileMenu.tsx
  src/components/listingPersonCard/ListingPersonCards.tsx
  src/components/modals/NavDrawer.tsx
  src/components/modals/publish-listing/steps/BasicDetailsStep.tsx
  src/components/modals/publish-listing/steps/LocationPickupStep.tsx
  src/components/modals/publish-listing/steps/MediaUploadStep.tsx
  src/components/oneProduct/OneProduct.tsx
Due: format, lint, sort-imports

Fix revision-aware controls and SSR-safe GPU rendering
  e2e/webgpu.spec.ts
  package.json
  scripts/check-gpu-backgrounds.ts
  src/__tests__/components/OneProduct.test.tsx
  src/__tests__/components/WebGPUSSR.test.tsx
  src/__tests__/lib/gpu-lifecycle.test.ts
  src/app/my-posts/MyPostsClient.tsx
  src/components/gpu/FloatingOrbs.module.css
  src/components/gpu/FloatingOrbs.tsx
  src/components/gpu/FloatingOrbs.wgsl
  src/components/gpu/GradientBackground.tsx
  src/components/gpu/GradientBackground.wgsl
  src/components/oneProduct/OneProduct.tsx
  src/hooks/index.ts
  src/lib/gpu/GPUDevicePool.ts
  src/lib/gpu/useDecorativeShader.ts
  src/lib/gpu/useGPURender.ts
  src/lib/gpu/useWebGPU.ts
Due: format, lint, sort-imports

Keep header scroll and media state consistent during server rendering
  src/__tests__/components/MediaQuery.test.tsx
  src/__tests__/components/ScrollSSR.test.tsx
  src/hooks/useAdvancedScroll.ts
  src/hooks/useMediaQuery.ts
Due: format, lint, sort-imports

Use one header and normal page scrolling for listing details
  src/app/food/[id]/PostDetailClient.tsx
  src/app/food/new/NewProductForm.tsx
  src/components/productCard/listing-layout.ts
Due: format, lint, sort-imports

ci: break main build cold-start deadlock
  .github/workflows/web.yml
Due: format

fix(security): remove open redirects, cache leakage and client-side secrets
  src/__tests__/lib/redirect.test.ts
  src/app/actions/analytics-sync.ts
  src/app/admin/analytics/sync/page.tsx
  src/app/api/admin/_shared/requireAdmin.ts
  src/app/api/admin/email/_shared/requireAdmin.ts
  src/app/api/admin/email/templates/[templateId]/route.ts
  src/app/api/admin/pulls/route.ts
  src/app/api/admin/repos/config/route.ts
  src/app/api/admin/review/route.ts
  src/app/api/admin/reviews/route.ts
  src/app/api/health/route.ts
  src/app/auth/callback/route.ts
  src/app/auth/login/page.tsx
  src/app/settings/language/LanguageRegionClient.tsx
  src/lib/security/redirect.ts
  src/proxy.ts
Due: format, lint, sort-imports

chore(supabase): re-sync function privilege lockdown migration
  supabase/migrations/20260925000000_lock_down_function_execute_privileges.sql
Due: none

fix(supabase): re-sync shared client to the canonical npm import
  supabase/functions/_shared/supabase.ts
Due: format, lint, sort-imports

chore(supabase): re-sync caller-id binding migration
  supabase/migrations/20260925010000_bind_caller_ids_in_post_functions.sql
Due: none

chore(supabase): re-sync user-scoped read RPC binding migration
  supabase/migrations/20260925020000_bind_user_scoped_read_rpcs.sql
Due: none
