Repository Foodshareclub/foodshare-web: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, sort-imports

format:
  tags: format quality autofix
  run: bunx prettier --write --cache --cache-strategy metadata {staged_files}
  stage_fixed: true
  priority: 1
  env:
    FORCE_COLOR: '0'
    NODE_OPTIONS: ''

lint:
  tags: lint quality autofix
  run: bunx eslint {staged_files} --fix --max-warnings=0 --no-warn-ignored --cache --cache-location .eslintcache
  stage_fixed: true
  priority: 1
  env:
    FORCE_COLOR: '0'
    NODE_OPTIONS: ''

sort-imports:
  tags: quality autofix
  run: bunx eslint {staged_files} --fix --rule 'import/order:error' --no-warn-ignored 2>/dev/null || true
  stage_fixed: true
  priority: 1
  env:
    NODE_OPTIONS: ''

ci: remove concurrency setting to debug stuck workflows
  .github/workflows/ci.yml
Due: format

fix: add setup dependency to build job for cache key
  .github/workflows/ci.yml
Due: format

fix: use git reset instead of pull to handle divergent branches
  .github/workflows/ci.yml
Due: format

fix: increase deploy timeout to 10 minutes
  .github/workflows/ci.yml
Due: format

fix: simplify deploy - remove unreliable health check
  .github/workflows/ci.yml
Due: format

fix: use NEXT_PUBLIC_SITE_URL for OAuth callback redirects
  src/app/auth/callback/route.ts
Due: format, lint, sort-imports

fix: increase max HTTP header size to 32KB
  Dockerfile
Due: none

fix: use internal Kong URL for health check, avoid Cloudflare hairpin
  docker-compose.yml
  src/lib/data/health.ts
Due: format, lint, sort-imports

Fix /api/health to use internal Supabase URL
  src/app/api/health/route.ts
Due: format, lint, sort-imports

Fix service worker caching maintenance page
  public/sw.js
Due: format, lint, sort-imports

Revert internal URL workaround, use api.foodshare.club everywhere
  docker-compose.yml
  public/sw.js
  src/app/api/health/route.ts
  src/lib/data/health.ts
Due: format, lint, sort-imports

fix: category navigation routing and pagination product type
  src/app/HomeClient.tsx
  src/components/header/CategoryFilterComponent.tsx
  src/components/header/navbar/Navbar.tsx
  src/components/header/navbar/NavbarWrapper.tsx
  src/lib/data/health.ts
Due: format, lint, sort-imports

fix: eliminate maintenance page redirect loop
  src/app/api/health/route.ts
  src/app/food/[id]/page.tsx
  src/app/food/page.tsx
  src/app/page.tsx
  src/app/volunteers/page.tsx
  src/components/maintenance/MaintenanceStatus.tsx
  src/lib/data/health.ts
Due: format, lint, sort-imports

infra: add caddy reverse proxy to docker-compose
  Caddyfile
  docker-compose.yml
Due: format

chore: remove all Vercel references
  .mcp.json
  next.config.ts
  package.json
  scripts/audit-api-usage.ts
  scripts/deploy/deploy-vercel.sh
  scripts/generate-og-images.ts
  scripts/vercel-setup/add-all-envs-now.sh
  scripts/vercel-setup/add-all-to-organicnz.sh
  scripts/vercel-setup/add-critical-envs.sh
  scripts/vercel-setup/add-vercel-envs-simple.sh
  scripts/vercel-setup/export-env-for-vercel.sh
  scripts/vercel-setup/refresh-vercel-envs.sh
  scripts/vercel-setup/setup-foodshare-pearl.sh
  scripts/vercel-setup/setup-vercel-test-project.sh
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/actions/analytics.ts
  src/hooks/queries/useProducts.ts
  src/lib/api/unified-client.ts
  src/lib/data/admin-insights/ai-insights.ts
  src/lib/data/admin-insights/index.ts
  src/lib/data/analytics.ts
  src/lib/email/vault.ts
  src/lib/errors/production-reporter.ts
  src/lib/storage/blob.ts
  src/lib/storage/edge-config.ts
  src/lib/storage/index.ts
  src/utils/buildErrorDetector.ts
  src/utils/deploymentHealthCheck.ts
  src/utils/vercelErrorReporter.ts
  vercel.json
Due: format, lint, sort-imports

chore: update lockfile after removing vercel
  bun.lock
Due: none

chore: recover lost server infra commits
  .github/workflows/ci.yml
  Caddyfile
  Dockerfile
  docker-compose.yml
Due: format

fix: resolve pids_limit conflict in docker-compose
  docker-compose.yml
Due: format

fix: correct docker healthcheck endpoint to /api/health
  docker-compose.yml
Due: format

fix: install ca-certificates in docker runner to fix HTTPS requests
  Dockerfile
Due: none

chore: add logging to healthcheck for debugging
  src/app/api/health/route.ts
Due: format, lint, sort-imports

fix: set NODE_EXTRA_CA_CERTS to fix node fetch tls verification
  Dockerfile
Due: none

fix: disable TLS rejection to allow supbase calls
  docker-compose.yml
Due: format

chore: remove all Vercel traces and unused storage configs
  bun.lock
  docs/API_MIGRATION_PLAN.md
  docs/IMPROVEMENT_PLAN.md
  docs/MIGRATION_DAY1_README.md
  docs/MIGRATION_PLAN_PRODUCTION.md
  docs/OPTIMIZATION_SUMMARY.md
  package.json
  src/lib/storage/blob.ts
  src/lib/storage/edge-config.ts
  src/lib/storage/index.ts
Due: format, lint, sort-imports

fix(web): remove aggressive maintenance redirects & fix back loop
  src/app/food/[id]/page.tsx
  src/app/food/page.tsx
  src/app/page.tsx
  src/app/volunteers/page.tsx
  src/components/maintenance/MaintenanceStatus.tsx
Due: format, lint, sort-imports

ci: load web app secrets from backend vault and edge functions
  .github/workflows/ci.yml
Due: format

ci: increase job timeouts to 10 minutes
  .github/workflows/ci.yml
Due: format

refactor: migrate secret management to build-time edge function/vault injection and remove runtime rpc
  .env.production.example
  docs/prompts/prompts.md
  scripts/pull-local-secrets.sh
  src/lib/email/vault.ts
  src/lib/env.ts
  src/lib/r2/vault.ts
Due: format, lint, sort-imports

refactor: remove vault RPC fallback for secrets, use process.env
  src/lib/data/admin-insights/api-key.ts
Due: format, lint, sort-imports

refactor: replace xAI with OpenAI for AI insights
  bun.lock
  package.json
  src/lib/data/admin-insights/ai-insights.ts
  src/lib/data/admin-insights/api-key.ts
  src/lib/data/admin-insights/config.ts
  src/lib/data/admin-insights/deep-analysis.ts
  src/lib/env-validation.ts
Due: format, lint, sort-imports

refactor: switch AI services to Groq and Z.ai
  src/lib/data/admin-insights/ai-insights.ts
  src/lib/data/admin-insights/api-key.ts
  src/lib/data/admin-insights/config.ts
  src/lib/data/admin-insights/deep-analysis.ts
  src/lib/data/admin-insights/index.ts
  src/lib/env-validation.ts
Due: format, lint, sort-imports

chore: standardize on Bun, remove all legacy tooling
  .gitignore
  .nvmrc
  Dockerfile
  api-usage-audit.json
  build_full.log
  build_try2.log
  bun.lock
  bunfig.toml
  jest.config.ts
  outdated_full.txt
  package.json
  src/lib/testing/__tests__/api-mocking.test.ts
  test.txt
  yarn.lock
Due: format, lint, sort-imports

ci: upgrade pipeline for concurrency, caching, e2e, and security
  .github/workflows/ci.yml
Due: format

fix: resolve checkUserIsAdmin export and broken mock syntax
  src/__tests__/actions/auth.test.ts
  src/__tests__/lib/data/auth.test.ts
  src/app/.!60170!favicon.ico
  src/app/actions/auth.ts
  src/app/food/[id]/UserActions.tsx
  src/app/settings/layout.tsx
  src/app/settings/login-and-security/page.tsx
  src/lib/data/auth.ts
  src/lib/data/index.ts
  src/lib/testing/contract-testing.ts
  src/lib/testing/enterprise-test-utils.ts
  src/lib/testing/setup.ts
  src/lib/testing/test-utils.tsx
Due: format, lint, sort-imports

docs: add testing guidelines to GEMINI.md
  GEMINI.md
Due: format

chore: rename ci.yml to ci-cd.yml to reflect robust pipeline
  .github/workflows/ci-cd.yml
Due: format

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,css,scss,md,yaml,yml}
  lint: any of: *.{ts,tsx,js,jsx}
  sort-imports: any of: *.{ts,tsx,js,jsx}
